{% extends "base.html" %}
{% load i18n comments_xtd %}

{% block extra_css %}
<style>
.day-group {
  margin: 8px 0px 16px;
}

.day-group h4 {
  padding: 8px;
  border-bottom: 2px solid lightblue;
}

.day-item {
  display: flex;
  align-items: flex-start;
  margin: 24px 0;
}

.day-item .tod {
  flex: 0;
  min-width: 100px;
  padding: 0 16px 0 0;
  text-align: right;
}

.day-item .detail {
  padding: 0 0 0 16px;
  border-left: 4px solid lightblue;
}

.day-item .detail h5 { margin-bottom: 8px }
.day-item .detail p { margin: 0 }

</style>
{% endblock %}

{% block menu-class-diary %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
      <h2 class="text-center">{% trans "My diary" %}</h2>
      <hr/>
    </div>
  </div>
  <div class="row justify-content-center flex-fill">
    <div class="col-lg-8">
    {% if object_list %}
      {% regroup object_list by publish|date:"l, j. F, Y" as entries_by_date %}
      {% for date_entries in entries_by_date %}
      <div class="day-group">
        <h4>{{ date_entries.grouper }}</h4>
        {% for item in date_entries.list|dictsort:"publish" %}
          <div class="day-item">
            <div class="tod">
              <a href="{{ item.get_absolute_url }}">
                {{ item.publish|date:"P" }}
              </a>
            </div>
            <div class="detail">
              <h5>{{ item.body|truncatewords:10 }}</h5>
              <p class="text-muted">2 comments. 1 picture.</p>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}