{% load i18n comments_xtd %}
<dl id="comments">
  {% for comment in comment_list %}
  <div style="margin-left:{{ comment.level }}00px; border-left:1px solid #ddd">
    <dt id="c{{ comment.id }}" style="background-color: #ddd">
      {{ comment.title }}
    </dt>
    <dd>
      <p>{{ comment.comment|render_markup_comment }}</p>
      <div style="font-size:0.9em">{{ comment.submit_date }}&nbsp;-&nbsp;{% if comment.url %}<a href="{{ comment.url }}" target="_new">{% endif %}{{ comment.name }}{% if comment.url %}</a>{% endif %}{% if comment.allow_thread %}&nbsp;-&nbsp;<a href="{{ comment.get_reply_url }}">{% trans "Reply" %}</a>{% endif %}</div>
    </dd>
  </div>
  {% endfor %}
</dl>
