.djcx {
  .cmthread {
    /* -----------------------
     * Used by themes: default, feedback_in_header, avatar_in_header.
     */

    &.cmthread--narrow.cmthread--l0,
    &.cmthread--narrow.cmthread--l1,
    &.cmthread--narrow.cmthread--l2 {
      display: flex;
      flex-direction: row;
      margin-left: 5px;

      a.vline,
      span.vline {
        display: block;
        min-width: 24px;

        &::before {
          position: relative;
          content: "";
          top: 7px;
          left: -5px;
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 6px;
        }

        &::after {
          position: relative;
          top: 2px;
          bottom: 0;
          left: 0;
          display: block;
          width: 2px;
          height: calc(100% - 46.5px);
          content: "";
        }
      }

      a.vline {
        &:hover::after {
          left: -3px;
          width: 8px;
        }

        &.folded {
          &::after {
            left: -2px;
            width: 6px;
          }

          &:hover::after {
            left: -3px;
            width: 8px;
          }
        }
      }

      .hline-l0,
      .hline-l1,
      .hline-l2 {
        position: absolute;
        bottom: 24px;
        left: -24px;
        border-top-width: 2px;
        border-top-style: solid;
        transform: translateY(-50%);
        display: block;
        width: 40px;
      }
    }

    &.cmthread--narrow.cmthread--end {
     margin-left: 24px;
    }

    /* -----------------------
     * avatar_in_thread theme.
     */
    &.cmthread--wide .comment-box {
      position: relative;
      display: flex;
      padding: 8px 0;
      margin-left: 0;

      .user-avatar {
        margin-left: -41px;
        margin-right: 16px;
        z-index: -1;
      }

      .header {
        display: flex;
        justify-content: space-between;
        margin: 0 8px 4px;
        font-size: 0.8rem;
        gap: 16px;

        & > div:last-child {
          display: flex;
        }
      }

      .body {
        font-size: .9rem;

        & > p {
          margin: .6rem;
          line-height: 1.4;
          font-size: 0.9rem;
        }

        & > p + p {
          margin-top: 0;
        }
      }
    }

    &.cmthread--wide.cmthread--l0,
    &.cmthread--wide.cmthread--l1,
    &.cmthread--wide.cmthread--l2 {
      display: flex;
      flex-direction: row;
      margin-left: 9px;

      a.vline,
      span.vline {
        display: block;
        min-width: 32px;

        &::after {
          position: relative;
          top: 46px;
          bottom: 0;
          left: 8px;
          display: block;
          width: 2px;
          height: calc(100% - 71px);
          z-index: 1;
          content: "";
        }
      }

      a.vline {
        &:hover::after {
          left: 5px;
          width: 8px;
        }

        &.folded {
          &::after {
            left: -2px;
            width: 6px;
          }

          &:hover::after {
            left: -3px;
            width: 8px;
          }
        }
      }

      .reply-box {
        margin-left: 27px;
      }

      .hline-l0,
      .hline-l1,
      .hline-l2 {
        position: absolute;
        bottom: 24px;
        left: -50px;
        border-top-width: 2px;
        border-top-style: solid;
        transform: translateY(-50%);
        display: block;
        width: 66px;
      }
    }

    &.cmthread--wide.cmthread--end {
     margin-left: 40px;
    }

  }

  .thread-group {
    width: 100%;
  }

  /* --------------------------
   * Coloring comment threads.
   */

  .cmthread.cmthread--l0 {
    a.vline,
    span.vline {
      &::before {
        border: 2px solid var(--djcx-color-level-0);
        background-color: var(--djcx-background-color);
      }

      &::after {
        background-color: var(--djcx-color-level-0);
      }
    }
  }

  .cmthread.cmthread--l1 {
    a.vline,
    span.vline {
      &::before {
        border: 2px solid var(--djcx-color-level-1);
        background-color: var(--djcx-background-color);
      }

      &::after {
        background-color: var(--djcx-color-level-1);
      }
    }
  }

  .cmthread.cmthread--l2 {
    a.vline,
    span.vline {
      &::before {
        border: 2px solid var(--djcx-color-level-2);
        background-color: var(--djcx-background-color);
      }

      &::after {
        background-color: var(--djcx-color-level-2);
      }
    }
  }

  .hline-l0 {
    color: var(--djcx-color-level-0);
  }

  .hline-l1 {
    color: var(--djcx-color-level-1);
  }

  .hline-l2 {
    color: var(--djcx-color-level-2);
  }
}
