{% extends "django_comments_xtd/base.html" %}
{% load i18n %}

{% block title %}{% trans "Comment requires approval" %}.{% endblock %}

{% block content %}
<h4 class="text-center">{% trans "Comment in moderation" %}</h4>
<p class="text-center">
  {% blocktrans %}
  Your comment is in moderation.<br/>
  It has to be reviewed before being published.<br/>
  Thank you for your patience and understanding.
  {% endblocktrans %}
</p>
<p class="text-center">
  {% with content_object_url=comment.content_object.get_absolute_url content_object_str=comment.content_object %}
  {% blocktrans %}
  Go back to <a href="{{ content_object_url }}">{{ content_object_str }}</a>
  {% endblocktrans %}
  {% endwith %}
</p>
{% endblock %}
