{% extends "django_comments_xtd/base.html" %}

{% load i18n %}
{% load comments_xtd %}

{% block title %}{% trans "React to comment" %}{% endblock %}

{% block content %}
<main>
  <article>
    <div class="container">
      <h2 class="text-center">{% translate "How do you react to this comment?" %}</h2>
      <h6 class="text-center pb24">
        {% translate "Comment sent to:" %}<br/>
        <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
      </h6>
    </div>
    <div class="central-column">
      <div class="dcx">
        {% with allow_flagging=False allow_reactions=False show_reactions=True show_nested=False %}
          {% include "includes/django_comments_xtd/comment.html"  %}
        {% endwith %}

        <section class="reaction-form">
          <h5 class="text-center">Reaction choices</h5>
          {% if user_reactions %}
            <p class="text-center">{% translate "Pressed buttons correspond to your active reactions to this comment." %}</p>
          {% endif %}
          <form method="POST" autocomplete="off" action="{% comment_reaction_form_target comment %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'comments-xtd-react-done' %}" />
            {% render_reactions_buttons user_reactions %}
            {% if user_reactions %}
              <h6 class="text-center">{% translate "Click on a button to select or deselect your reaction." %}</h6>
            {% else %}
              <h6 class="text-center">{% translate "Click on a button to select your reaction." %}</h6>
            {% endif %}
          </form>
        </section>
      </div>
    </div>
  </article>
</main>
{% endblock %}
