{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{% trans "Comment reply" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center my-4">
    <div class="text-center">
      <h3>{% trans "Reply to comment" %}</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="d-flex">
      <div class="me-3">
        {{ comment.user_email|xtd_comment_gravatar }}
      </div>
      <div class="d-flex flex-column pb-3">
        <span style="font-size: 0.8rem">
          {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
          {% if comment.user_url %}
          <a href="{{ comment.user_url }}" target="_new" class="text-decoration-none">{% endif %}
            {{ comment.user_name }}{% if comment.user_url %}</a>{% endif %}
        </span>
        <div class="py-2">{{ comment.comment }}</div>
      </div>
    </div>
    <div class="card mt-4 mb-5">
      <div class="card-body">
        <h4 class="card-title text-center pb-3">{% trans "Post your comment" %}</h4>
        {% include "comments/form.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
