{% extends "base.html" %}
{% load i18n comments %}

{% block header %}{% trans "Article List" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-md-12">
    {% if object_list %}
    <ul>
      {% for article in object_list %}
      {% get_comment_count for article as comment_count %}
      <li>
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        <span class="small">{{ article.publish|date:"d-F-Y" }}</span>
        {% if comment_count %}
        <span class="small">- {{ comment_count }} comment{{ comment_count|pluralize }}</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="bottom-link text-center">
      <a href="{% url 'homepage' %}">{% trans "Home" %}</a>
    </div>
  </div>
</div>
{% endblock %}
