{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block header %}Article Detail{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="text-center">
      <h3>{{ object.title }}</h3>
      <div class="small">{{ object.publish }}</div>
    </div>
    <hr/>
    <article>
      {{ object.body|linebreaks }}
    </article>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="bottom-link text-center">
      <a href="{% url 'articles-index' %}">back to the articles list</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-lg-1 offset-md-1 col-lg-10 col-md-10">
    <div id="comments">
      {% get_comment_count for object as comment_count %}
      {% if comment_count %}
      <H6 class="text-center">
        {% blocktrans count comment_count=comment_count %}
        There is {{ comment_count }} comment below.
        {% plural %}
        There are {{ comment_count }} comments below.
        {% endblocktrans %}
      </H6>
      <hr/>
      {% endif %}

      {% if object.allow_comments %}
        <div class="comment">
          <h5 class="text-center">Post your comment</h5>
          <div class="well my-4">
            {% render_comment_form for object %}
          </div>
        </div>
      {% else %}
        <h5 class="text-center">comments are disabled for this article</h5>
      {% endif %}

      {% if comment_count %}
      <hr/>
      {% render_comment_list for object %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
