{% load i18n %}
{% load static %}
{% load comp_filters %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as current_language %}
<!DOCTYPE html>
<html dir="ltr" lang="en" class="h-100" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}django-comments-xtd comp demo{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <style>
      html, body {
        font-family: "Open Sans", Tahoma, sans-serif;
      }
      main h1, main h2, main h3 {
        font-family: "Georgia";
      }
      main h1 { line-height: 2.4; }
      main h2 { line-height: 2.2; }
      main h3 { line-height: 2.0; }
      .container {
        max-width: 960px;
      }
      pre { padding: 0 16px; }
      .comment .content p:last-child {
        margin-bottom: 0px;
      }
      .comment-header .permalink {
        display: none;
      }
      .comment-header:hover .permalink {
        display: inline;
      }
    </style>
  </head>
  <body class="h-100 d-flex flex-column">
    <div class="container">
      <div class="d-flex py-4 align-items-center">
        <h2 class="flex-grow-1"><a href="/" class="text-decoration-none">comp demo</a></h2>
        <nav class="nav nav-underline">
          {% if request.user.is_authenticated %}
          <a class="flex-sm-fill text-sm-center nav-link disabled">Hi, {{ request.user.get_full_name }}</a>
          {% endif %}
          <a class="flex-sm-fill text-sm-center nav-link {% block menu-class-homepage %}{% endblock %}"
            href="{% url 'homepage' %}">{% trans "Home" %}</a>
          <a class="flex-sm-fill text-sm-center nav-link {% block menu-class-articles %}{% endblock %}"
            href="{% url 'articles-index' %}">{% trans "articles" %}</a>
          <a class="flex-sm-fill text-sm-center nav-link {% block menu-class-quotes %}{% endblock %}"
            href="{% url 'quotes-index' %}">{% trans "quotes" %}</a>
          <a class="flex-sm-fill text-sm-center nav-link {% block menu-class-comments %}{% endblock %}"
            href="{% url 'comp-comment-list' %}">{% trans "comments" %}</a>
          {% if 'rosetta' in settings.INSTALLED_APPS %}
          <div class="dropdown">
            <form id="langform" hidden>
              {% csrf_token %}<input type="text" id="language" name="language" /><input type="text" name="next" />
            </form>
            <a class="flex-sm-fill text-sm-center nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#" data-dcx-language-active>{{ current_language|language_name }}</a>
            <div class="dropdown-menu languages" id="selectlanguage">
              {% for language in LANGUAGES %}
              {% if current_language != language.0 %}
              <a class="dropdown-item" href="#" data-dcx-language-code="{{ language.0 }}">{{ language.0|language_tuple }}</a>
              {% else %}
              <a class="dropdown-item disabled"
                href="#">{{ language.0|language_name }}</a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </nav>
      </div>
    </div>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer class="mt-auto">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr/>
            <p class="text-center text-muted small">django-comments-xtd comp demo.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js" integrity="sha512-skYYbQHAuOTpeJTthhUH3flZohep8blA+qjZOY0VqmfXMDiYcWxu29F5UbxU4LxaIpGkRBk+3Qf8qaXfd9jngg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script>
      function setLanguage(event) {
        event.preventDefault();
        const formEl = document.getElementById('langform');
        const inputEl = document.querySelector('input[name=language]');
        inputEl.value = event.target.dataset.dcxLanguageCode;
        const _promise = fetch('/i18n/setlang/', {
          method: "POST", mode: "cors", body: new FormData(formEl)
        });
        _promise.then(() => window.location.reload());
      }

      function runWhenDOMContentLoaded(cb) {
        if (document.readyState != 'loading') {
          cb();
        } else if (document.addEventListener) {
          document.addEventListener('DOMContentLoaded', cb);
        } else {
          document.attachEvent('onreadystatechange', function() {
            if (document.readyState == 'complete') cb();
          });
        }
      }

      function switchColorScheme(scheme) {
        document.documentElement.dataset.bsTheme = scheme;
      }

      function setColorSchemeHandler() {
        const schemes = ['light', 'dark'];
        for (const scheme of schemes) {
          const q = window.matchMedia(`(prefers-color-scheme: ${scheme})`);
          if (q.matches) {
            switchColorScheme(scheme);
          }
          q.addEventListener('change', e => {
            if (e.matches) {
              switchColorScheme(scheme);
            }
          });
        }
      }

      function loadCompSampleCode() {
        const qs_lang_anchors = "[data-dcx-language-code]";
        for (const item of document.querySelectorAll(qs_lang_anchors)) {
          item.addEventListener("click", setLanguage);
        }

        // Handle color-scheme changes.
        setColorSchemeHandler();
      }

      runWhenDOMContentLoaded(loadCompSampleCode);
    </script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
