{% load i18n %}
{% load static %}
{% load comp_filters %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as current_language %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}django-comments-xtd comp demo{% endblock %}</title>
    <link href="{% static 'django_comments_xtd/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="d-flex py-4">
        <h2 class="mr-auto">comp demo</h2>
        <nav class="nav nav-pills flex-column flex-sm-row align-self-center">
          {% if request.user.is_authenticated %}
          <a class="flex-sm-fill text-sm-center nav-link">Hi, {{ request.user.get_full_name }}</a>
          {% endif %}
          <a class="flex-sm-fill text-sm-center nav-link {% block menu-class-homepage %}{% endblock %}"
             href="{% url 'homepage' %}">{% trans "Home" %}</a>
          <a class="flex-sm-fill text-sm-center nav-link {% block menu-class-articles %}{% endblock %}"
             href="{% url 'articles-index' %}">{% trans "articles" %}</a>
          <a class="flex-sm-fill text-sm-center nav-link {% block menu-class-quotes %}{% endblock %}"
             href="{% url 'quotes-index' %}">{% trans "quotes" %}</a>
          <a class="flex-sm-fill text-sm-center nav-link {% block menu-class-comments %}{% endblock %}"
             href="{% url 'comments-xtd-list' %}">{% trans "comments" %}</a>
          {% if 'rosetta' in settings.INSTALLED_APPS %}
          <div class="dropdown">
            <form id="langform" hidden>
              {% csrf_token %}<input type="text" id="language" name="language" /><input type="text" name="next" />
            </form>
            <a class="flex-sm-fill text-sm-center nav-link dropdown-toggle"
               data-toggle="dropdown"
               href="#">{{ current_language|language_name }}</a>
            <div class="dropdown-menu languages" id="selectlanguage">
              {% for language in LANGUAGES %}
              {% ifnotequal current_language language.0 %}
              <a class="dropdown-item" href="#" data-name="language"
                 data-code="{{ language.0 }}">{{ language.0|language_tuple }}</a>
              {% else %}
              <a class="dropdown-item disabled"
                 href="#">{{ language.0|language_name }}</a>
              {% endifnotequal %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </nav>
      </div>
    </div>
    
    {% block content %}
    {% endblock %}
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr/>
          <p class="text-center text-muted small">django-comments-xtd comp demo.</p>
        </div>
      </div>
    </div>
    
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script
        type="text/javascript"
        src="{% url 'javascript-catalog' %}"></script>
    <script>
     function set_language(event) {
       event.preventDefault();
       var $link = event.target;
       $form = $('#langform');
       $form.find('input[name=language]').val($link.dataset.code);
       $.post('/i18n/setlang/', $form.serialize(), function(d) {
         window.location.reload();
       });
     }
     $(function() {
       $('.dropdown-toggle').dropdown();
       $("#selectlanguage A[data-name=language]").click(set_language);
     });
    </script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
