{% extends "base.html" %}
{% load md2 %}
{% load comments_xtd %}

{% block menu-class-homepage %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <p>{{ readme_text|markdown }}</p>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title pb-2">
            <h5 class="text-center">Last 5 comments</h5>
          </div>
          {% get_xtdcomment_count as comment_count for articles.article quotes.quote %}
          {% if comment_count %}
          <div class="media-list" id="comment-list">
            {% render_last_xtdcomments 5 for articles.article quotes.quote %}
          </div>
          <div class="text-right">
            <a class="card-link" href="{% url 'comments-xtd-list' %}">comment list</a>
          </div>
          {% else %}
          <p class="text-center text-muted">No comments yet.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
