{% extends "base.html" %}
{% load md2 %}
{% load comments_xtd %}

{% block menu-class-homepage %}active{% endblock %}

{% block content %}
<hr/>
<div class="col-lg-8">
  <p>{{ readme_text|markdown }}</p>
</div>
<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="text-center panel-title">Last 5 comments</h3>
    </div>
    <div class="panel-body">
      {% get_xtdcomment_count as comment_count for articles.article quotes.quote %}
      {% if comment_count %}
      <ul class="media-list" id="comment-list">
        {% render_last_xtdcomments 5 for articles.article quotes.quote %}
      </ul>
      <div class="text-right">
        <span><a href="{% url 'comments-xtd-list' %}">comment list</a></span>
      </div>
      {% else %}
      <p class="text-center text-muted">No comments yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
