{% extends "base.html" %}
{% load i18n %}
{% load markup_tags %}
{% load comments_xtd %}

{% block menu-class-homepage %}active{% endblock %}

{% block content %}
<h3 class="text-center">{% trans "Homepage" %}</h3>
<hr/>
<div class="col-lg-8">
  <p>{{ readme_text|apply_markup:"markdown" }}</p>
</div>
<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="text-center panel-title">Last 5 comments</h3>
    </div>
    <div class="panel-body">
      {% get_xtdcomment_count as comment_count for articles.article quotes.quote %}
      {% if comment_count %}
      <ul class="media-list" id="comment-list">
        {% render_last_xtdcomments 5 for articles.article quotes.quote %}
      </ul>
      {% else %}
      <p>{% trans "Here the last 5 comments posted to either <code>articles.Article</code> or <code>quotes.Quote</p> will be listed." %}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
