{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;Reset Password{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="column">
        <h2>{% trans "Confirm your password reset" %}</h2>
        <p>
          {% blocktrans %}If <strong><code>{{ email }}</code></strong> is associated with an account on this site, a confirmation email will have been sent. Allow a few minutes for delivery and be sure to check both your <strong>inbox</strong> and <strong>junk</strong> (or <strong>spam</strong>) folders for the message. Click on the confirmation link in the email to change your password.{% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}