{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;Reset Password{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="column">
        <h2>{% trans "Trouble accessing your account?" %}</h2>
        <p>
          Enter your login email below and click on the button to request a reset-password link. If you are registered with the given email address you will receive an email with a link that will allow you to reset your password.
        </p>
        <h3>{% trans "Request reset password email" %}<h3>
        <div class="grid-form">
          <form method="POST" autocomplete="off">
            {% csrf_token %}

            <label class="col1" for="{{ form.email.id_for_label }}">
              {% trans form.email.label %}
            </label>
            <div class="col2 {% if 'email' in form.errors %}error{% endif %}">
              {{ form.email }}
            </div>
            {% if "email" in form.errors %}
              <div class="col2 helper-text error">
                {{ form.errors.email.0 }}
              </div>
            {% endif %}

            <div class="col2">
              <div class="inline-left">
                <button class="primary" type="submit" name="submit" tabindex="2">
                  {% trans 'send' %}
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}