{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;Reset Password{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="column">
        <h2>{% trans "Reset your password" %}</h2>
        <p>
          You can now change your password to get access to your account.
        </p>
        <h3>{% trans "Type a new password" %}<h3>
        <div class="grid-form">
          <form method="POST" autocomplete="off">
            {% csrf_token %}{{ form.email }}
            {% if form.errors %}
              <div class="col1-2 alert alert-error text-error">
                {% trans form.non_field_errors.0 %}
              </div>
            {% endif %}

            <label class="col1" for="{{ form.pwd1.id_for_label }}">
              {% trans form.pwd1.label %}
            </label>
            <div class="col2">{{ form.pwd1 }}</div>

            <label class="col1" for="{{ form.pwd2.id_for_label }}">
              {% trans form.pwd2.label %}
            </label>
            <div class="col2">{{ form.pwd2 }}</div>

            <div class="col2">
              <div class="inline-left">
                <button class="primary" type="submit" name="submit" tabindex="3">
                  {% trans 'Save' %}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}