*.pyc
*~
*.*~
*.zip
*.egg-info
*.db
plugin*.js
plugin*.js.map
vendor*.js
vendor*.js.map
vendor*.LICENSE.txt
django*.mo
db.sqlite3
docs/_build
build/
dist/
node_modules/
.coverage
.emacs.desktop*
.tox
.cache
.eggs
package-lock.json
.idea
example/.idea
example/env
.pytest_cache/
.venv
.idea
