language: python

python:
  - 2.7
  - 3.6

cache:
  pip:
  apt:
  directories:
    - .tox

env:
 - DJANGO="1.8"
 - DJANGO="1.9"
 - DJANGO="1.10"
 - DJANGO="1.11"

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq $APT

after_failure:
 - cat /home/travis/.pip/pip.log

after_success:
 - coveralls

install:
 - pip install pip wheel
 - pip install tox-travis
 - pip install -q coveralls flake8 tox

script:
 - env | sort
 - tox
 - flake8 --show-source --max-line-length=80 --exclude=.tox,docs,django_comments_xtd/tests,django_comments_xtd/__init__.py,django_comments_xtd/migrations django_comments_xtd/
