include AUTHORS
include LICENSE
include CHANGELOG.md
include tox.ini
include package.json
include webpack.config.js
include requirements.pip
include requirements_tests.pip
recursive-include docs *
recursive-include django_comments_xtd/locale *
recursive-include django_comments_xtd/templates *
recursive-include django_comments_xtd/static *
