{% extends "base.html" %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block header %}Article Detail{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center my-4">
    <div class="col-10 text-center">
      <H3>{{ object.title }}</H3>
      <div class="small">{{ object.publish }}</div>
      <hr/>
    </div>
  </div>
  <div class="row justify-content-center flex-fill">
    <div class="col-8 mb-4">
      <article>
        {{ object.body|linebreaks }}
      </article>
    </div>
  </div>

  <div class="row justify-content-center flex-fill">
    <div class="col-8">
      <p class="text-center">
        <a href="{% url 'articles-index' %}">back to the articles list</a>
      </p>
    </div>
  </div>

  <div class="row justify-content-center flex-fill">
    <div class="col-8">
      <div id="comments">
        {% get_comment_count for object as comment_count %}
        {% if comment_count %}
        <H6 class="text-center mt-1 mb-5">
          {% blocktrans count comment_count=comment_count %}
          There is {{ comment_count }} comment below.
          {% plural %}
          There are {{ comment_count }} comments below.
          {% endblocktrans %}
        </H6>
        {% endif %}

        {% if comment_count %}
        {% render_comment_list for object %}
        {% endif %}

        {% if object.allow_comments %}
          <div class="card card-block my-4">
            <div class="card-body">
              <h4 class="card-title text-center pb-3">Post your comment</h4>
              {% render_comment_form for object %}
            </div>
          </div>
        {% else %}
        <h4 class="mt-4 mb-5 text-center text-secondary">Comments are disabled for this quote.</h4>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}
