{% extends "base.html" %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block header %}Article Detail{% endblock %}

{% block content %}
<div class="text-center">
  <H3>{{ object.title }}</H3>
  <div class="small">{{ object.publish }}</div>
</div>
<hr/>
<article>
  {{ object.body|linebreaks }}
</article>
<p class="text-center">
  <a href="{% url 'articles-index' %}">back to the articles list</a>
</p>

<div id="comments">
  {% get_comment_count for object as comment_count %}
  {% if comment_count %}
  <H5 class="text-center">
    {% blocktrans count comment_count=comment_count %}
    There is {{ comment_count }} comment below.
    {% plural %}
    There are {{ comment_count }} comments below.
    {% endblocktrans %}
  </H5>
  <hr/>
  {% endif %}

  {% if object.allow_comments %}
  <div class="comment">
    <H4 class="text-center">Post your comment</H4>
    <div class="well">
      {% render_comment_form for object %}
    </div>
  </div>
  {% else %}
  <h5 class="text-center">comments are disabled for this article</h5>
  {% endif %}

  {% if comment_count %}
  <hr/>
  <ul class="media-list" id="comment-list">
    {% render_xtdcomment_tree for object %}
  </ul>
  {% endif %}
</div>
{% endblock %}
