{% extends "base.html" %}
{% load i18n comments %}

{% block header %}{% trans "Article List" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center flex-fill">
    <div class="col-lg-7">
      {% if object_list %}
      <UL>
        {% for article in object_list %}
        {% get_comment_count for article as comment_count %}
        <li>
          <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
          <span class="small">{{ article.publish|date:"d-F-Y" }}</span>
          {% if comment_count %}
          <span class="small">- {{ comment_count }} comment{{ comment_count|pluralize }}</span>
          {% endif %}
        </li>
        {% endfor %}
      </UL>
      {% endif %}
      <p class="text-center">
        <a href="{% url 'homepage' %}">{% trans "Home" %}</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
