{% extends "comments/base.html" %}

{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{% trans "Comment preview" %}{% endblock %}

{% block content %}
<main>
  <article>
    <div class="container">
      <h2 class="text-center">{% trans "Preview your comment" %}</h2>
      <h6 class="text-center pb24">
        {% trans "Comment sent to:" %}<br/>
        <a href="{{ form.target_object.get_absolute_url }}">{{ form.target_object }}</a>
      </h6>
    </div>
    <div class="central-column">
      <div class="djcx">
        <div class="comment-list">
          {% if form.reply_to.value == "0" %}
            <div class="comment-box">
              <div class="user-avatar">
                {% get_email_gravatar form.cleaned_data.email "36,identicon" %}
              </div>
              <div class="comment">
                <div class="header">
                  <div>
                    {% if form.cleaned_data.url %}<a href="{{ form.cleaned_data.url }}" target="_new">{{ form.cleaned_data.name }}</a>{% else %}{{ form.cleaned_data.name }}{% endif %}
                  </div>
                  <div class="small text-info">{% trans "comment in preview" %}</div>
                </div>
                <div class="body body-bordered">
                  {{ form.cleaned_data.comment|linebreaks|escape }}
                </div>
                <div class="feedback feedback-bordered"></div>
              </div>
            </div>
          {% else %}
            <div class="cmthread cmthread--wide cmthread--l0">
              <span href="#" class="vline"></span>
              <div class="thread-group">
                {% with parent=form.reply_to.value|get_comment %}
                  <div class="comment-box">
                    <div class="user-avatar">
                      {% get_comment_gravatar parent "36,identicon" %}
                    </div>
                    <div class="comment comment--in-thread">
                      <div class="header">
                        <div>{% if parent.url %}<a href="{{ parent.url }}" target="_new">{{ parent.name }}</a>{% else %}{{ parent.name }}{% endif %}&nbsp;&sdot;&nbsp;<span class="muted">{{ parent.submit_date }}</span>&nbsp;&nbsp;<a class="permalink" title="comment permalink" href="{% get_comment_permalink parent %}">¶</a></div>
                      </div>
                      <div class="body body-bordered">
                        {{ parent.comment|linebreaks|escape }}
                      </div>
                      <div class="feedback feedback-bordered"></div>
                    </div>
                  </div>
                {% endwith %}

                <div class="cmthread cmthread--wide cmthread--end">
                  <div class="comment-box">
                    <div class="user-avatar">
                      {% get_email_gravatar form.cleaned_data.email "36,identicon" %}
                    </div>
                    <div class="comment comment--in-thread">
                      <div class="header">
                        <div>{% if form.cleaned_data.url %}<a href="{{ form.cleaned_data.url }}" target="_new">{{ form.cleaned_data.name }}</a>{% else %}{{ form.cleaned_data.name }}{% endif %}</div>
                        <div class="small text-info">{% trans "comment in preview" %}</div>
                      </div>
                      <div class="body body-bordered">
                        {{ form.cleaned_data.comment|linebreaks|escape }}
                      </div>
                      <div class="feedback feedback-bordered"></div>
                    </div>
                  </div>
                </div>

                <div class="reply-box">
                  <div class="hline-l0"></div>
                  <div class="content">
                    <section class="reply-form active">
                      {% include "comments/form.html" %}
                    </section>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        {% if form.reply_to.value == "0" %}
          <section class="comment-form">
            <h5 class="mb-0 text-center">{% trans "Post your comment" %}</h5>
            {% include "comments/form.html" %}
          </section>
        {% endif %}
      </div>
    </div>
  </article>
</main>
{% endblock %}
