{% extends "comments/base.html" %}

{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{% trans "Comment reply" %}{% endblock %}

{% block content %}
<main>
  <article>
    <div class="container">
      <h2 class="text-center">{% trans "Reply to comment" %}</h2>
      <h6 class="text-center pb24">
        {% trans "Comment sent to:" %}<br/>
        <a href="{{ form.target_object.get_absolute_url }}">{{ form.target_object }}</a>
      </h6>
    </div>
    <div class="central-column">
      <div class="djcx pb32">
        <div class="cmthread cmthread--wide cmthread--l0">
          <span class="vline"></span>
          <div class="thread-group">
            <div id="c{{ comment.id }}" class="comment-box">
              <div class="user-avatar">
                {% get_comment_gravatar comment "36,identicon" %}
              </div>
              <div class="comment comment--in-thread">
                <div class="header">
                  <div>
                    {% if not comment.is_removed and comments_voting_enabled and comment.level == 0 %}
                      <div class="inline-block" id="cm-votes-{{ comment.id }}">
                        {% include "comments/comment_votes.html" %}
                      </div>
                      &sdot;
                    {% endif %}
                    {% if comment.url and not comment.is_removed %}
                      <a href="{{ comment.url }}" target="_new">{{ comment.name }}</a>
                    {% else %}
                      {{ comment.name }}
                    {% endif %}
                    &sdot;
                    <span class="muted">{{ comment.submit_date }}</span>
                    <a class="permalink" title="comment permalink" href="{% get_comment_permalink comment %}">¶</a>
                  </div>
                  {% if not comment.is_removed and comments_flagging_enabled and comments_input_allowed %}
                    <div id="cm-flags-{{ comment.id }}">
                      {% include "comments/comment_flags.html" %}
                    </div>
                  {% endif %}
                </div>
                <div class="body body-bordered">
                  {{ comment.comment|linebreaks|escape }}
                </div>
                <div id="cm-feedback-{{ comment.id }}" class="feedback feedback-bordered">
                  {% if not comment.is_removed %}
                    {% if comments_reacting_enabled %}
                      {% include "comments/comment_reactions.html" %}
                      {% if comments_input_allowed %}
                        <div class="inline-block sepseq">
                          <a data-djcx="reactions-panel" data-comment="{{ comment.id }}" class="small" data-user-auth="{{ user.is_authenticated }}" href="{% url 'comments-xtd-react' comment.id %}#{{ anchor }}" {% if not user.is_authenticated %}data-login-next="{% get_comment_permalink comment %}"{% endif %}>{% trans "React" %}</a>
                        </div>
                      {% endif %}
                    {% endif %}
                    {% if comment.nested_count %}
                      <div class="inline-block">
                        <span id="comment-{{ comment.id}}-replies" data-djcx="nreplies" data-comment="{{ comment.id }}" class="small">{% blocktrans count replies=comment.nested_count %}One reply{% plural %}{{ replies }} replies{% endblocktrans %}</span>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="reply-box">
              <div class="hline-l0"></div>
              <div class="content">
                <section class="reply-form active">
                  {% include "comments/form.html" %}
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
{% endblock %}
