{% load i18n %}
{% load comments %}
{% load comments_xtd %}

<div id="comments" class="py-3 media-list">
  {% for comment in comment_list %}
  <div class="media pb-2">
    <a name="c{{ comment.id }}"></a>
    <img src="{{ comment.user_email|xtd_comment_gravatar_url }}"
         class="mr-3" width="48" height="48">
    <div class="media-body">
      <div class="comment pb-3">
        <h6 class="mb-1 small d-flex">
          <div class="mr-auto">{{ comment.submit_date }}&nbsp;-&nbsp;{% if comment.url and not comment.is_removed %}<a href="{{ comment.url }}" target="_new">{% endif %}{{ comment.name }}{% if comment.url %}</a>{% endif %}&nbsp;&nbsp;<a class="permalink" title="comment permalink" href="{% get_comment_permalink comment %}">¶</a></div>
        </h6>
        <div class="content">
          {% if comment.is_removed %}
          <p class="text-muted">{% trans "This comment has been removed." %}</p>
          {% else %}
          <div class="content">
            {% include "includes/django_comments_xtd/comment_content.html" with content=comment.comment %}
          </div>
          {% endif %}
          {% if comment.allow_thread and not comment.is_removed %}
          <a class="small mutedlink" href="{{ comment.get_reply_url }}">
            {% trans "Reply" %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
