{% extends "base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block header %}{% trans "Comment discarded" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
    <h4>{% trans "Comment discarded." %}</h4>
    <p>{% trans "Sorry, the email address given for comment verification is marked as a spam source. If it is not the case and we are wrong, please let us know through our contact form. We will be glad to hear from you. Use a different email address and tell us about the rejected one, we will update our database." %}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
    <p class="text-right">- The policy team.</p>
  </div>
</div>
{% endblock %}
