{% extends "base.html" %}
{% load i18n comments %}
{% load url from future %}

{% block header %}{{ block.super }}{% trans "Projects - Project Detail" %}{% endblock %}

{% block content %}
<H3>{{ object.project_name }}</H3>
<div style="margin:10px 0; padding:0 150px 0 20px">
  {{ object.short_description|linebreaks }}
  <H4>{% trans "Releases" %}:</H4>
  <UL>
    {% for item in release_list %}
    {% get_comment_count for item as comment_count %}
    <li style="list-style-type:circle">
      <a href="{{ item.get_absolute_url }}">{{ item.release_name }}</a> &sdot;
      <span style="text-align:right; font-size:0.7em; color:#666">
	{{ comment_count }} comment{{ comment_count|pluralize }}
      </span>
    </li>
    {% endfor %}
  </UL>
</div>

<p style="padding: 5px 15px; background:#ddd">
  <a href="{% url 'projects-index' %}">{% trans "Project list" %}</a>
</p>
{% endblock %}
