{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;quotes{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'django_comments_xtd/css/comments.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'django_comments_xtd/css/reactions.css' %}">
{% endblock %}

{% block nav-quotes-class %}active{% endblock %}

{% block content %}
<main>
  <article>
    <h2 class="text-center">{{ object.title }}</h2>
    <h6 class="text-center small">{{ object.published_time }}</h6>
    <div class="central-column">
      <div class="pb24">
        <blockquote class="quote">
          {{ object.quote|linebreaks }}
        </blockquote>
        <p class="text-right">
          <em>{% if object.url_source %}<a href="{{ object.url_source }}">{{ object.author }}</a>{% else %}{{ object.author }}{% endif %}</em>
        </p>
      </div>

      {% get_comment_count for object as comment_count %}
      {% if comment_count %}
      <h4 class="text-center">
        {% blocktrans count comment_count=comment_count %}
        There is {{ comment_count }} comment
        {% plural %}
        There are {{ comment_count }} comments
        {% endblocktrans %}
      </h4>
      {% endif %}

      {% if comment_count %}
        <div class="{% dcx_custom_selector %} pb32">
          {% render_xtdcomment_list for object %}
        </div>
      {% endif %}

      {% if is_comment_input_allowed %}
        <div class="{% dcx_custom_selector %}" data-dcx="comment-form">
          {% render_comment_form for object %}
        </div>
      {% else %}
        <h4 class="text-center">{% trans "New comments are not allowed." %}</h4>
      {% endif %}
    </div>
  </article>
</main>
{% endblock %}
