{% extends "base.html" %}

{% load url from future %}

{% load i18n comments comments_xtd %}

{% block title %}{{ block.super }}Blog - {% trans "Comment List" %}{% endblock %}

{% block header %}{{ block.super }}{% trans "Blog Comment List" %}{% endblock %}

{% block content %}
<div style="width:100%; margin: 20px auto">

  <p>{% trans "List of comments for <code>blog.story</code> and <code>blog.quote</code> with pagination, produced by the following entry in the blog/urls.py file:" %}</p>
  <pre style="padding:3px 15px; background:#eef">
    url(r'^comments$', 
        ListView.as_view(
            queryset=XtdComment.objects.for_app_models("blog.story", 
                                                       "blog.quote"), 
            template_name="django_comments_xtd/blog/comment_list.html",
            paginate_by=5),
        name='blog-comments'),
  </pre>

  {% for comment in object_list %}
  <div id="comment-{{ comment.id }}" style="width:600px; margin:0 auto; padding:5px 0; border-top: 1px solid #ddd; font-size:0.9em">

    {% if comment.user.is_staff %}
    <div style="display:inline-block; width:180px; padding: 0 5px; background:#eee; vertical-align:top">
      <a href="{% get_comment_permalink comment %}">permalink</a><br/>
      <span>{{ comment.submit_date|date:"DATETIME_FORMAT" }}</span><br/>
      <em>{{ comment.name }}</em>
    </div>
    {% endif %}

    <div style="display:inline-block; width:400px; vertical-align:top">
      <div style="font-size:0.9em">
	{% trans "Comment for:" %} <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
      </div>
      {% if comment.is_removed %}
      <span style="font-style: italic">
	-- {% trans "Inappropriate comments like this one are removed." %} --
      </span>
      {% else %}
      {% autoescape off %}
      {{ comment.comment|render_markup_comment }}
      {% endautoescape %}
      {% endif %}
    </div>

    {% if not comment.user.is_staff %}
    <div style="display:inline-block; width:180px; padding: 0 5px; background:#eee; vertical-align:top">
      <a href="{% get_comment_permalink comment %}">permalink</a><br/>
      <span>{{ comment.submit_date|date:"DATETIME_FORMAT" }}</span><br/>
      <em>{{ comment.name }}</em>
    </div>
    {% endif %}

  </div>
  {% endfor %}

  {% if is_paginated %}
  <div style="text-align:center">
    {% if page_obj.has_previous %}
    <a id="newer" class="button" href="?page={{ page_obj.previous_page_number }}">{% trans "newer" %}</a>&nbsp;
    {% endif %}
    {% if page_obj.has_next %}
    <a id="older" class="button" href="?page={{ page_obj.next_page_number }}">{% trans "older" %}</a>
    {% endif %}
  </div>
  {% endif %}

  <p style="padding: 5px 15px; background:#ddd">
    <a href="{% url 'blog-index' %}">{% trans "Blog" %}</a>
  </p>
</div>
{% endblock %}
