.dcx .comment-list > div.narrow-comment-box { margin-top: 8px; }
.dcx .comment-list > div.level-1,
.dcx .comment-list > div.level-2,
.dcx .comment-list > div.level-3 { margin-top: 0px; }
.dcx .comment-list > div:first-child { margin-top: 0 }

.dcx .user-avatar IMG {
    border-radius: 3px;
}

/* ----------------------------------------------------- */
/* narrow-comment-box is used to show a shorter comment, with a small
 * user-avatar, the comment header (including the link to the comment, the name
 * of the person who posted the comment, and the datetime), the comment body,
 * and no comment footer.
 *
 * The .narrow-comment-box has the following layout:
 *  |----------------------------------------------------------------|
 *  | .header (flex, direction: row)                                 |
 *  | |------------------------------------------------------------| |
 *  | | .user-avatar  |  name, datetime, permalink                 | |
 *  | |------------------------------------------------------------| |
 *  | .body (comment content)                                        |
 *  |----------------------------------------------------------------|
 */
.dcx .narrow-comment-box {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 0.3rem;
    padding: 10px;
}

.dcx .narrow-comment-box       A.permalink { display: none }
.dcx .narrow-comment-box:hover A.permalink { display: inline }

.dcx .narrow-comment-box .header {
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
}

.dcx .narrow-comment-box .user-avatar {
    padding-right: 16px;
}

.dcx .narrow-comment-box .body {
    font-size: 0.8rem;
}

.dcx .narrow-comment-box .body > P  { margin: .5rem; }
.dcx .narrow-comment-box .body > P + P { margin-top: 0; }


/* ----------------------------------------------------- */
/* comment-box is used to show the complete comment, with a user-avatar,
 * a comment header (with name, post datetime, and permalink), the comment
 * content, and a comment footer (with comment reaction-buttons, and possible
 * reply link when nested comments are allowed).
 *
 * The .comment-box has the following layout:
 *  |----------------------------------------------------------------|
 *  | .user-avatar   |  .comment (flex, direction: column)           |
 *  |                | |-------------------------------------------| |
 *  |                | | .header (name, datetime, permalink)       | |
 *  |                | |-------------------------------------------| |
 *  |                | | .body                                     | |
 *  |                | |-------------------------------------------| |
 *  |                | | .footer (reaction-buttons, reply-link)    | |
 *  |                | |-------------------------------------------| |
 *  |----------------------------------------------------------------|
 */
.dcx .comment-box,
.dcx .comment-box-img {
    position: relative;
    display: flex;
    padding: 8px 0;
    margin-left: 0;
}

.dcx .comment-box-img {
    margin-left: 16px;
}

@media screen and (max-width: 839px) {
    .dcx .comment-box     { margin-left: 0 }
    .dcx .comment-box-img { margin-left: 8px }

}

.dcx .comment-box .level-1, .dcx .comment-box-img .level-1,
.dcx .comment-box .level-2, .dcx .comment-box-img .level-2,
.dcx .comment-box .level-3, .dcx .comment-box-img .level-3 {
    display: block;
    width: 24px;
    flex-grow: 0;
    flex-shrink: 0;
}

.dcx .comment-box-img .level-1,
.dcx .comment-box-img .level-2,
.dcx .comment-box-img .level-3 {
    width: 52px;
}

@media screen and (max-width: 839px) {
    .dcx .comment-box .level-1,
    .dcx .comment-box .level-2,
    .dcx .comment-box .level-3 {
        width: 16px
    }

    .dcx .comment-box-img .level-1,
    .dcx .comment-box-img .level-2,
    .dcx .comment-box-img .level-3 {
        width: 24px
    }
}

.dcx .comment-box.l0-ini:before, .dcx .comment-box-img.l0-ini:before,
.dcx .comment-box.l0-mid:before, .dcx .comment-box-img.l0-mid:before {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    content: "";
    background-color: hsl(207deg 90% 34%);
}
.dcx .comment-box.l0-ini:before,
.dcx .comment-box-img.l0-ini:before {
    top: 16px
}

.dcx .comment-box.l1-ini .level-1:before,
.dcx .comment-box-img.l1-ini .level-1:before,
.dcx .comment-box.l1-mid .level-1:before,
.dcx .comment-box-img.l1-mid .level-1:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24px;
    display: block;
    width: 2px;
    content: "";
    background-color: hsl(207deg 90% 54%);
}

.dcx .comment-box-img.l1-ini .level-1:before,
.dcx .comment-box-img.l1-mid .level-1:before {
    left: 52px;
}

.dcx .comment-box.l1-ini .level-1:before,
.dcx .comment-box-img.l1-ini .level-1:before { top: 16px }

@media screen and (max-width: 839px) {
    .dcx .comment-box.l1-ini .level-1:before,
    .dcx .comment-box.l1-mid .level-1:before {
        left: 16px
    }

    .dcx .comment-box-img.l1-ini .level-1:before,
    .dcx .comment-box-img.l1-mid .level-1:before {
        left: 24px
    }
}

.dcx .comment-box.l2-ini .level-2:before,
.dcx .comment-box-img.l2-ini .level-2:before,
.dcx .comment-box.l2-mid .level-2:before,
.dcx .comment-box-img.l2-mid .level-2:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 48px;
    display: block;
    width: 2px;
    content: "";
    background-color: hsl(207deg 90% 74%);
}

.dcx .comment-box-img.l2-ini .level-2:before,
.dcx .comment-box-img.l2-mid .level-2:before {
    left: 104px;
}

.dcx .comment-box.l2-ini .level-2:before,
.dcx .comment-box-img.l2-ini .level-2:before { top: 8px }

@media screen and (max-width: 839px) {
    .dcx .comment-box.l2-ini .level-2:before,
    .dcx .comment-box.l2-mid .level-2:before {
        left: 32px;
    }

    .dcx .comment-box-img.l2-ini .level-2:before,
    .dcx .comment-box-img.l2-mid .level-2:before {
        left: 48px;
    }

}

.dcx .reply-box .level-1, .dcx .reply-box-img .level-1,
.dcx .reply-box .level-2, .dcx .reply-box-img .level-2,
.dcx .reply-box .level-3, .dcx .reply-box-img .level-3 {
    display: block;
    width: 24px;
    flex-grow: 0;
    flex-shrink: 0;
}

.dcx .reply-box-img .level-1,
.dcx .reply-box-img .level-2 { width: 52px }

@media screen and (max-width: 839px) {
    .dcx .reply-box .level-1,
    .dcx .reply-box .level-2,
    .dcx .reply-box .level-3 {
        width: 16px
    }

    .dcx .reply-box-img .level-1,
    .dcx .reply-box-img .level-2,
    .dcx .reply-box-img .level-3 {
        width: 24px
    }
}

.dcx .reply-box,
.dcx .reply-box-img {
    position: relative;
    display: flex;
    padding: 0;
}

.dcx .reply-box.l0,
.dcx .reply-box-img.l0 {
    margin-left: 0;
}

.dcx .reply-box-img.l0 {
    margin-left: 16px;
}

@media screen and (max-width: 839px) {
    .dcx .reply-box.l0     { margin-left: 0 }
    .dcx .reply-box-img.l0 { margin-left: 8px }
}

.dcx .reply-box.l0     .content,
.dcx .reply-box-img.l0 .content {
    position: relative;
    margin-left: 41px;
    width: 100%;
}

.dcx .reply-box-img.l0 .content { margin-left: 87px }

@media screen and (max-width: 839px) {
    .dcx .reply-box.l0     .content { margin-left: 32px }
    .dcx .reply-box-img.l0 .content { margin-left: 52px }
}

.dcx .reply-box.l0.l1:before,
.dcx .reply-box-img.l0.l1:before,
.dcx .reply-box.l0.l1 .level-1:before,
.dcx .reply-box-img.l0.l1 .level-1:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    content: "";
    background-color: hsl(207deg 90% 34%);
}



.dcx .reply-box.l0:before,
.dcx .reply-box-img.l0:before,
.dcx .reply-box.l0.l1 .level-1:before,
.dcx .reply-box-img.l0.l1 .level-1:before,
.dcx .reply-box.l0.l1.l2 .level-2:before,
.dcx .reply-box-img.l0.l1.l2 .level-2:before {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    display: block;
    width: 2px;
    content: "";
    background-color: hsl(207deg 90% 34%);
}

.dcx .reply-box.l0.l1 .level-1:before,
.dcx .reply-box-img.l0.l1 .level-1:before,
.dcx .reply-box.l0.l1.l2 .level-1:before,
.dcx .reply-box-img.l0.l1.l2 .level-1:before {
    left: 24px;
    background-color: hsl(207deg 90% 54%);
}

.dcx .reply-box-img.l0.l1 .level-1:before,
.dcx .reply-box-img.l0.l1.l2 .level-1:before {
        left: 52px;
}

@media screen and (max-width: 839px) {
    .dcx .reply-box.l0.l1 .level-1:before,
    .dcx .reply-box.l0.l1.l2 .level-1:before {
        left: 16px;
    }

    .dcx .reply-box-img.l0.l1 .level-1:before,
    .dcx .reply-box-img.l0.l1.l2 .level-1:before {
        left: 24px;
    }
}

.dcx .reply-box.l0.l1.l2     .level-1:before,
.dcx .reply-box-img.l0.l1.l2 .level-1:before {
    bottom: 0;
}

.dcx .reply-box.l0.l1.l2     .level-2:before,
.dcx .reply-box-img.l0.l1.l2 .level-2:before {
    left: 48px;
    background-color: hsl(207deg 90% 74%);
}

.dcx .reply-box-img.l0.l1.l2 .level-2:before {
    left: 104px;
}

@media screen and (max-width: 839px) {
    .dcx .reply-box.l0.l1.l2     .level-2:before { left: 32px }
    .dcx .reply-box-img.l0.l1.l2 .level-2:before { left: 48px }
}

.dcx .reply-box .line-0, .dcx .reply-box-img .line-0,
.dcx .reply-box .line-1, .dcx .reply-box-img .line-1,
.dcx .reply-box .line-2, .dcx .reply-box-img .line-2 {
    position: absolute;
    top: 50%;
    left: 1px;
    border-top-width: 2px;
    border-top-style: solid;
    transform: translateY(-50%);
    display: block;
    width: 40px;
    flex-grow: 0;
    flex-shrink: 0;
}

.dcx .reply-box-img .line-0,
.dcx .reply-box-img .line-1,
.dcx .reply-box-img .line-2 {
    width: 87px
}

@media screen and (max-width: 839px) {
    .dcx .reply-box .line-0,
    .dcx .reply-box .line-1,
    .dcx .reply-box .line-2 {
        width: 32px
    }

    .dcx .reply-box-img .line-0,
    .dcx .reply-box-img .line-1,
    .dcx .reply-box-img .line-2 {
        width: 52px
    }
}

.dcx .reply-box .line-0, .dcx .reply-box-img .line-0 {
    border-color: hsl(207deg 90% 34%);
}

.dcx .reply-box .line-1, .dcx .reply-box-img .line-1 {
    border-color: hsl(207deg 90% 54%);
}

.dcx .reply-box .line-2, .dcx .reply-box-img .line-2 {
    border-color: hsl(207deg 90% 74%);
}

.dcx .reply-box .line-0,
.dcx .reply-box-img .line-0 { left: 1px }

.dcx .reply-box .line-1 { left: 25px }
.dcx .reply-box-img .line-1 { left: 53px }


@media screen and (max-width: 839px) {
    .dcx .reply-box     .line-1 { left: 17px }
    .dcx .reply-box-img .line-1 { left: 25px }
}

.dcx .reply-box     .line-2,
.dcx .reply-box-img .line-2 {
    left: 49px;
    border-color: hsl(207deg 90% 74%);
}

.dcx .reply-box-img .line-2 {
    left: 105px;
}

@media screen and (max-width: 839px) {
    .dcx .reply-box     .line-2 { left: 33px }
    .dcx .reply-box-img .line-2 { left: 49px }
}

.dcx .not-reply-box.l0:before, .dcx .not-reply-box-img.l0:before,
.dcx .not-reply-box.l0.l1:before, .dcx .not-reply-box-img.l0.l1:before,
.dcx .not-reply-box.l0.l1.l2:before, .dcx .not-reply-box-img.l0.l1.l2:before {
    position: absolute;
    display: block;
    margin-left: -4px;
    margin-top: -9px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    content: "";
    background-color: hsl(207deg 90% 34%);
}

.dcx .not-reply-box-img.l0:before {
    margin-left: 12px;
}

.dcx .not-reply-box.l0.l1:before,
.dcx .not-reply-box-img.l0.l1:before {
    margin-left: 20px;
    background-color: hsl(207deg 90% 54%);
}

.dcx .not-reply-box-img.l0.l1:before {
    margin-left: 64px;
}

.dcx .not-reply-box.l0.l1.l2:before,
.dcx .not-reply-box-img.l0.l1.l2:before {
    margin-left: 44px;
    background-color: hsl(207deg 90% 74%);
}

.dcx .not-reply-box-img.l0.l1.l2:before {
    margin-left: 116px;
}

@media screen and (max-width: 839px) {
    .dcx .not-reply-box-img.l0:before { margin-left: 4px }
    .dcx .not-reply-box.l0.l1:before { margin-left: 12px }
    .dcx .not-reply-box-img.l0.l1:before { margin-left: 28px }
    .dcx .not-reply-box.l0.l1.l2:before { margin-left: 28px }
    .dcx .not-reply-box-img.l0.l1.l2:before { margin-left: 52px }
}

/* ------------------------------------------------- */

.dcx .comment-box           a.permalink,
.dcx .comment-box-img       a.permalink { display: none }
.dcx .comment-box:hover     a.permalink,
.dcx .comment-box-img:hover a.permalink { display: inline }

.dcx .comment-box .thread-space {
    position: relative;
    z-index: 1;
    padding-right: 16px;
}

.dcx .comment-box-img .user-avatar {
    position: relative;
    z-index: 1;
    margin-left: -17px;
    padding-right: 16px;
}

@media screen and (max-width: 839px) {
    .dcx .comment-box-img .user-avatar {
        padding-right: 8px;
    }
}

.dcx .comment-box-img .user-avatar > IMG {
    border: 2px solid white;
    border-radius: 50%;
}

.dcx .comment-box .comment,
.dcx .comment-box-img .comment {
    flex-grow: 1;
}

.dcx .comment-box .comment {
    padding-left: 16px;
}

.dcx .comment-box .header,
.dcx .comment-box-img .header {
    display: flex;
    justify-content: space-between;
    margin: 0 8px 4px 8px;
    font-size: 0.8rem;
}

.dcx .comment-box .body, .dcx .comment-box-img .body {
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 0;
    border-color: rgba(0, 0, 0, .1);
    border-style: solid;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    font-size: 0.9rem;
}

.dcx .comment-box     .body > P,
.dcx .comment-box-img .body > P  { margin: .6rem; }

.dcx .comment-box     .body > P + P,
.dcx .comment-box-img .body > P + P { margin-top: 0; }

.dcx .comment-box     .footer,
.dcx .comment-box-img .footer {
    padding: 4px .8rem;
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: 0;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.dcx .comment-box     .footer > DIV,
.dcx .comment-box-img .footer > DIV {
    display: inline-block
}

.dcx .comment-box     .footer > DIV::after,
.dcx .comment-box-img .footer > DIV::after {
    content: "·";
    padding: 0 2px;
    font-size: 0.8rem;
    font-weight: 700;
}
.dcx .comment-box     .footer > DIV:last-child::after,
.dcx .comment-box-img .footer > DIV:last-child::after {
    content: "";
}

.dcx .reply-box .content, .dcx .reply-box-img .content {
    display: flex;
    justify-content: left;
    padding: .6rem 0;
}

/* ----------------------------------------------------- */
.dcx .comment-form {
    margin: 16px;
    border: 8px solid rgba(0, 0, 0, .1);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 839px) {
    .dcx .comment-form {
        margin: 16px 0px;
    }
}


.dcx .comment-form > H5 { margin-bottom: 0px; }
.dcx .comment-form > P  { margin: 1.5rem 2.2rem 0.5rem; }
.dcx .comment-form > P + P { margin-top: 0; }

.dcx .comment-form form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    padding: 1.5rem 2.5rem;
}

.dcx .reply-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5rem;
}

.dcx .reply-form.active {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 16px;
}

.dcx .reply-form form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
}

.dcx .col1 {
    grid-column: 1/2;
}

.dcx .col2 {
    grid-column: 2/3;
    padding-right: 2.5rem;
}

@media screen and (max-width: 839px) {
    .dcx .col2 {
        padding-right: 0;
    }
}

.dcx .col1-2 { grid-column: 1/3 }

@media screen and (max-width: 839px) {
    .dcx .comment-form form {
        padding: 1.5rem 1rem;
    }
}

/* ----------------------------------------------------- */
.inline-left {
    display: flex;
    justify-content: left;
}

.inline-centered {
    display: flex;
    justify-content: center;
}

.inline-left>*, .inline-centered>* {
    display: inline-block;
}

.central-column {
    margin: 0 auto;
    max-width: 735px;
}

/* ----------------------------------------------------- */
.dcx label {
    margin: auto 0;
    text-align: right;
    font-size: 0.9rem;
}

.dcx input,
.dcx textarea {
    font-family: "Assistant", sans-serif;
    font-size: 0.9rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.25rem;
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.075);
}

.dcx textarea {
    display: block;
    width: 100%;
    padding: 8px 12px;
}

.dcx .comment-form textarea, .dcx .reply-form.active textarea {
    height: 100%;
}

.dcx input:focus,
.dcx textarea:focus {
    outline: 0;
    color: #555;
    background-color: white;
    border: 1px solid #9acffa;
    box-shadow: 0 0 0 .2rem rgba(33,150,243,0.25);
}

.dcx input[type=text],
.dcx input[type=email],
.dcx input[type=password] {
    width: 100%;
    padding: .3rem .5rem;
    background-color: white;
}

.dcx input.error,
.dcx textarea.error,
.dcx .error > input,
.dcx .error > textarea {
    border-color: rgb(245, 153, 156);
    box-shadow: inset 0 2px 0 rgba(245, 153, 156, .2);
}

.dcx input.error:focus,
.dcx textarea.error:focus,
.error > input:focus, .error > textarea:focus {
    border: 1px solid rgb(245, 153, 156);
    box-shadow: 0 0 0 .2rem rgba(247,37,42,0.25);
}

.dcx .helper-text {
    margin-top: -.7rem;
    font-size: 0.75rem;
    color: gray;
}

.dcx .helper-text.error { color: red }
.dcx .small { font-size: 0.75rem }
.dcx .bold { font-weight: bold }