.comment {
  position: relative;
}

.reactions-panel {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 150px;
  margin-bottom: 0.5rem; /* Space for arrow. */
  background-color: white;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: .3rem;
  left: 20px;
}

.reactions-panel > h3 {
  padding: .5rem .75rem;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: .825rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.reactions-panel > p {
  margin: 0;
  padding: 8px;
}

.reactions-tooltip {
  display: none;
  position: absolute;
  z-index: 2;
  margin-bottom: 0.5rem; /* Space for arrow. */
  background-color: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.25rem;
  bottom: 37px;
}

.reactions-tooltip > p {
  max-width: 200px;
  margin: 0;
  padding: 0.3rem 0.6rem;
  color: white;
  text-align: center;
  font-size: 0.8em;
}

button.emoji {
  margin: 0px;
  padding: 2px 10px;
  border: 0;
  outline: none;
  background: white;
  font-size: 1.2rem;
}

button.emoji:hover, button.emoji:focus {
  margin-top: 0;
  border-bottom-width: 0px;
  background: #f7f7f7;
  outline: none;
}

.reactions-panel .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
  bottom: calc((0.5rem + 1px) * -1);
}

.reactions-tooltip .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
  bottom: calc((0.5rem + 1px) * -1);
  left: 89px;
}


.reactions-panel .arrow::before, .reactions-panel .arrow::after,
.reactions-tooltip .arrow::before, .reactions-tooltip .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.reactions-panel .arrow::before, .reactions-tooltip .arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.reactions-panel .arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #fff;
}

.reactions-tooltip .arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #000;
}

.reactions, .active-reactions { display: inline-block }
.reaction                     { padding-right: 8px }
.reaction:last-child          { padding-right: 0px }

.reaction > a > * {
  /* Nothing within the anchor elements should have pointer events. */
  pointer-events: none;
}

.reaction .emoji {
  padding: 0 0 0 3px;
  font-size: .9rem;
}
