{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}django-comments-xtd simple demo{% endblock %}</title>
    <link href="{% static 'django_comments_xtd/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      .page-header    { padding: 16px 0; }
      .page-header H3 { padding: 16px 0; }
      .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
      }
      .post-footer, .comments {
        padding: 20px 0;
      }
      .bottom-link { padding: 16px 0; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
	    <h6 class="text-center">simple demo site</h6>
	    <h3 class="text-center">{% block header %}{% endblock %}</h3>
      </div>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <hr/>
          <div class="pb-4 text-center text-muted small">
            django-comments-xtd simple demo.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
