@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Assistant';
    src: url('Assistant-VariableFont_wght.ttf') format("woff2-variations"),
          url('Assistant-VariableFont_wght.ttf') format("woff2");
    font-weight: 200 800;
  }

  @font-face {
    font-family: 'FiraCode';
    src: url('FiraCode-VariableFont_wght.ttf') format("woff2-variations"),
         url('FiraCode-VariableFont_wght.ttf') format("woff2");
    font-weight: 200 800;
  }
}