{% load i18n %}
{% load comments_xtd %}

<div
  id="reply-to-{{ comment.id }}"
  class="{% if not comments_input_allowed or comment.is_removed %}not-{% endif %}reply-box {{ comment.level|reply_css_thread_range }}"
>
  {% if comments_input_allowed and not comment.is_removed %}
    {{ comment.level|indent_divs }}
    {{ comment.level|hline_div }}
    <div class="content">
      <section class="reply-form" data-djcx="reply-form" data-djcx-level="{{ comment.level }}">
        <form id="reply-form-{{ comment.id }}" method="GET" action="{% url 'comments-xtd-reply' comment.id %}">{% csrf_token %}
          <input type="hidden" name="reply_to" value="{{ comment.id }}" />
          <div class="col1-2">
            <div class="inline-left">
              <button type="submit" class="small" data-djcx="reply-button">{% translate "Write a reply" %}</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  {% endif %}
</div>
