{% load i18n %}
{% load comments %}
{% load comments_xtd %}

<div id="ct-{{ comment.id }}" class="cmthread cmthread--narrow cmthread--l{{ comment.level }}">
  {% if comment.nested_count > 0 %}<a href="#" class="vline"></a>{% else %}<span class="vline"></span>{% endif %}
  <div class="thread-group">
    {% include "comments/themes/feedback_in_header/comment.html" %}
    {% if nested_level == max_thread_level %}
      <div class="cmthread cmthread--narrow cmthread--end">
        {% for nested_comment in nested_comment_list %}
          {% include "comments/themes/feedback_in_header/comment.html" with comment=nested_comment %}
        {% endfor %}
      </div>
    {% else %}
      {% for nested_comment in nested_comment_list %}
        {% render_xtdcomment_thread for nested_comment in comment_list %}
      {% endfor %}
    {% endif %}
    {% if comment.level < max_thread_level %}
      {% include "comments/reply_button.html" %}
    {% endif %}
  </div>
</div>
