{% extends "base_light.html" %}
{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;{{ title }}{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'django_comments_xtd/css/djcx-styles.css' %}">
{% endblock %}

{% block content %}
<main>
  <article>
    <h2 class="text-center">1 comment, level 0, feedback off</h2>
    <div class="theme">avatar_in_header</div>
    <h6 class="text-center small">{% now "F j, Y" %}</h6>
    <div class="central-column">
      <div style="margin-bottom: 48px">
        <ol>
          <li>This page contains some CSS declarations in a <code>&lt;style&gt;</code> element, in the <code>base.html</code> template.</li>
          <li>It is minimally styled to show how the comment box will look like when including only django-comments-xtd styles.</li>
          <li>The <code>extra_css</code> block in the template only includes the css file corresponding to  <code>django-comments-xtd/css/comments.css</code>. So only the <code>div.comments</code> is styled.</li>
        </ol>
      </div>

      <h3 class="text-center">There is one comments</h3>

      <div class="djcx light">
        <div class="comment-list">
          <!-- Start comment-1 -->
          <div id="comment-1" class="comment-box l0">
            <div class="comment">
              <div class="header flex-align-center">
                <div class="user-avatar">
                  {% get_user_gravatar "lena.rosenthal@example.com" "36,identicon" %}
                </div>
                <div class="flex-grow">
                  Lena Rosenthal<br>
                  <span class="muted smaller">Jan. 7, 2022, 5:18 p.m.</span>
                  <a class="permalink" title="comment permalink" href="/comments/cr/19/1/1/#comment-1">¶</a>
                </div>
                <div class="feedback">
                  <div id="cm-flags-1" class="sep">
                    <div class="tip-container">
                      <a data-dci-action="flag" data-comment="1" href="/comments/flag/1/?#comment-1">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                    </div>
                  </div>
                  <div id="cm-feedback-1" class="sep">
                    <div id="cm-reactions-1" class="reactions">
                      <div class="active-reactions">
                        <div class="reaction" data-reaction="+">
                          <a href="/comments/list-reacted/1/+/">62</a><span class="emoji">👍</span>
                          <div class="tooltip">Eva Rizzi, Isabel Azul, Mengano Gómez, Daniela Rushmore, Amalia Ocean, David Fields, Saarah Hodges, Romilly Tanner, Zayan Blackmore, Celeste Duke and more reacted with +1</div>
                        </div>
                        <div class="reaction" data-reaction="-">
                          <span>7</span><span class="emoji">👎</span>
                          <div class="tooltip">Fulanito de Tal, Phoenix Barton, Nola Ford, Jodie Decker, Marius Bate, Shazia Barrow, Gabrielius Gale reacted with -1</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="inline-block">
                    <a data-dci="reactions-panel" data-comment="1" class="small" data-user-auth="False" href="/comments/react/1/?#comment-1" data-login-next="/comments/cr/19/1/1/#comment-1">React</a>
                  </div>
                </div>
              </div>
              <div class="body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at viverra turpis. Quisque a dui ut felis varius semper eget non nunc. Vivamus fermentum pellentesque turpis, vel lacinia mi ullamcorper nec.</p>
              </div>
            </div>
          </div>
          <!-- End comment-1 -->
        </div>
      </div>

      <div class="djcx light">
        <section class="comment-form-container">
          <h5 class="mb-0 text-center">{% translate "Post your comment" %}</h5>
          {% render_xtdcomment_form for object %}
        </section>
      </div>

    </div>
  </article>
</main>
{% endblock content %}