{% extends "base_dark.html" %}

{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;{{ title }}{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'django_comments_xtd/css/djcx-styles.css' %}">
</style>
{% endblock %}

{% block content %}
<main>
  <article>
    <h2 class="text-center">{% trans "Reply to comment" %}</h2>
    <div class="theme">default theme</div>
    <h4 class="text-center small">
      {% trans "Comment sent to:" %}<br/>
      <a href="{{ form.target_object.get_absolute_url }}">{{ form.target_object }}</a>
    </h4>
    <div class="central-column">
      <div class="djcx">
        <div id="c{{ comment.id }}" class="comment-box l0-ini">
          <div class="comment">
            <div class="header">
              <div>{% if comment.url and not comment.is_removed %}<a href="{{ comment.url }}" target="_new">{{ comment.name }}</a>{% else %}{{ comment.name }}{% endif %}&nbsp;&sdot;&nbsp;<span class="muted">{{ comment.submit_date }}</span>&nbsp;&nbsp;<a class="permalink" title="comment permalink" href="{% get_comment_permalink comment %}">¶</a></div>
            </div>
            <div class="body body-bordered body-bordered--no-bottom">
              {{ comment.comment|linebreaks|escape }}
            </div>
            <div class="feedback feedback-bordered">
              {% include "comments/comment_reactions.html" %}
            </div>
          </div>
        </div>

        <div class="reply-box l0">
          <div class="line-0"></div>
          <div class="content">
            <section class="reply-form active">
              {% include "comments/form.html" %}
            </section>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
{% endblock content %}