{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block menu-class-articles %}active{% endblock %}

{% block content %}
<div class="text-center">
  <H3>{{ object.title }}</H3>
  <div class="small">{{ object.publish }}</div>
</div>
<hr/>

<div class="row">
  <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">  
    <article>
      {{ object.body|linebreaks }}
    </article>
  </div>
</div>

<div class="row">
  <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">  
    <div id="comments">
      {% get_comment_count for object as comment_count %}
      {% if comment_count %}
      <H5 class="text-center">
        {% blocktrans count comment_count=comment_count %}
        There is {{ comment_count }} comment below.
        {% plural %}
        There are {{ comment_count }} comments below.
        {% endblocktrans %}
      </H5>
      <hr/>
      {% endif %}
      
      {% if object.allow_comments %}
      <div class="comment">
        <H4 class="text-center">Post your comment</H4>
        <div class="well">
          {% render_comment_form for object %}
        </div>
      </div>
      {% else %}
      <h5 class="text-center">comments are disabled for this article</h5>
      {% endif %}
      
      {% if comment_count %}
      <hr/>
      <div id="comment-tree">
        <p class="alert alert-info text-center">Loading comments...</p>
      </div>
      <ul class="media-list" id="comment-tree">
        {% render_xtdcomment_tree for object allow_feedback show_feedback allow_flagging %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
  window.django_comments_xtd_props = {
    api_url: '{{ object|xtdcomment_api_url }}',
    allow_feedback: true,
    show_feedback: true,
    allow_flagging: true
  };
  $(function () {
    $('[data-toggle="popover"]').popover({'html':true});
  })
</script>

<script src="{% static 'django_comments_xtd/js/vendor-1.7.1.js' %}"></script>
<script src="{% static 'django_comments_xtd/js/plugin-1.7.1.js' %}"></script>
{% endblock %}
