{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block title %}
{{ block.super }}&nbsp;&raquo;&nbsp;{{ object.title}}
{% endblock %}

{% block menu-class-articles %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="row my-4">
    <div class="col-lg-12 text-center">
      <h2>{{ object.title }}</h2>
      <div class="small">{{ object.publish }}</div>
      <hr/>
    </div>
  </div>
  <div class="row justify-content-center flex-fill">
    <div class="col-md-7">
      <article>
        {{ object.body|linebreaks }}
      </article>
    </div>
  </div>

  <div class="row justify-content-center flex-fill">
    <div class="col-md-7 pt-3">
      <p class="text-center">
        <a href="{% url 'articles-index' %}">Back to the articles list</a>
      </p>
    </div>
  </div>

  <div class="row justify-content-center flex-fill">
    <div class="col-md-7">
      <div id="comments"></div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script>
 window.comments_props = {% get_commentbox_props for object %};
 window.comments_props_override = {
   allow_comments: {% if object.allow_comments %}true{% else %}false{% endif %},
   allow_feedback: true,
   show_feedback: true,
   allow_flagging: true,
   polling_interval: 5000
 };
</script>
<script src="{% static 'django_comments_xtd/js/vendor~plugin-2.8.2.js' %}"></script>
<script src="{% static 'django_comments_xtd/js/plugin-2.8.2.js' %}"></script>
{% endblock %}
