{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ block.super }}&nbsp;&raquo;&nbsp;joder ostias{% endblock %}

{% block menu-class-articles %}active{% endblock %}

{% block content %}
<div class="text-center">
  <H3>{{ object.title }}</H3>
  <div class="small">{{ object.publish }}</div>
</div>
<hr/>

<div class="row">
  <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">  
    <article>
      {{ object.body|linebreaks }}
    </article>
  </div>
</div>

<div class="row">
  <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">  
    <div id="comments">
      {% get_comment_count for object as comment_count %}
      {% if comment_count %}
      <H5 class="text-center">
        {% blocktrans count comment_count=comment_count %}
        There is {{ comment_count }} comment below.
        {% plural %}
        There are {{ comment_count }} comments below.
        {% endblocktrans %}
      </H5>
      <hr/>
      {% endif %}
      
      {% if object.allow_comments %}
      <div class="comment">
        <H4 class="text-center">Post your comment</H4>
        <div class="well">
          {% render_comment_form for object %}
        </div>
      </div>
      {% else %}
      <h5 class="text-center">comments are disabled for this article</h5>
      {% endif %}
      
      {% if comment_count %}
      <hr/>
      <div id="comment-tree">
        <p class="alert alert-info text-center">Loading comments...</p>
      </div>
      <!--hr/-->
      <!--ul class="media-list" id="comment-tree">
        {# render_xtdcomment_tree for object allow_feedback show_feedback allow_flagging #}
      </ul-->
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
  window.django_comments_xtd_props = {
    list_url: '{{ object|comments_xtd_api_list_url }}',
    flag_url: '{% url "comments-flag" 0 %}',
    delete_url: '{% url "comments-delete" 0 %}',
    reply_url: '{% url "comments-xtd-reply" cid=0 %}',
    feedback_url: '{% url "comments-xtd-api-feedback" %}',
    allow_feedback: true,
    show_feedback: true,
    allow_flagging: true,
    current_user: '{% if user.is_authenticated %}{{ user.id }}:{{ user.get_full_name }}{% else %}{% trans "0:Anonymous" %}{% endif %}',
    is_authenticated: {%if user.is_authenticated %}true{% else %}false{% endif %},
    can_moderate: {%if perms.comments.can_moderate %}true{% else %}false{% endif %}
  };
</script>
<script src="{% static 'django_comments_xtd/js/vendor-1.7.1.js' %}"></script>
<script src="{% static 'django_comments_xtd/js/plugin-1.7.1.js' %}"></script>
{% endblock %}
