{% extends "base.html" %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block menu-class-quotes %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="row my-4">
    <div class="col-lg-12 text-center">
      <h2>{{ object.title }}</h2>
      <div class="small">{{ object.publish }}</div>
      <hr/>
    </div>
  </div>

  <div class="row justify-content-center flex-fill">
    <article class="col-md-8">
      <blockquote class="blockquote">{{ object.quote|linebreaks }}</blockquote>
      <p class="text-right">
        <em>{% if object.url_source %}<a href="{{ object.url_source }}">{{ object.author }}</a>{% else %}{{ object.author }}{% endif %}</em>
      </p>
    </article>
  </div>

  <div class="row justify-content-center flex-fill">
    <div class="col-md-7">
      <div id="comments">
        {% get_comment_count for object as comment_count %}
        {% if comment_count %}
        <H5 class="text-center">
          {% blocktrans count comment_count=comment_count %}
          {{ comment_count }} comment.
          {% plural %}
          {{ comment_count }} comments.
          {% endblocktrans %}
        </H5>
        {% endif %}

        {% if object.allow_comments %}
        <div class="card card-block mt-4 mb-5">
          <div class="card-body">
            <h4 class="card-title text-center pb-3">Post your comment</h4>
            {% render_comment_form for object %}
          </div>
        </div>
        {% elif not object.allow_comments %}
        <h4 class="mt-4 mb-5 text-center text-secondary">Comments are disabled for this quote.</h4>
        {% endif %}

        {% if comment_count %}
        <div id="comment-tree">
          {% render_xtdcomment_tree for object allow_feedback show_feedback allow_flagging %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
 $(function () {
   $('[data-toggle="tooltip"]').tooltip({'html':true});
 })
</script>
{% endblock %}
