{% extends "base.html" %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block menu-class-quotes %}active{% endblock %}

{% block content %}
<div class="text-center">
  <H3>{{ object.title }}</H3>
  <div class="small">{{ object.publish }}</div>
</div>
<hr/>

<div class="row">
  <article class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
    <blockquote>{{ object.quote|linebreaks }}</blockquote>
    <p class="text-right">
      <em>{% if object.url_source %}<a href="{{ object.url_source }}">{{ object.author }}</a>{% else %}{{ object.author }}{% endif %}</em>
    </p>
  </article>
</div>

<div class="row">
  <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">  
    <div id="comments">
      {% get_comment_count for object as comment_count %}
      {% if comment_count %}
      <H5 class="text-center">
        {% blocktrans count comment_count=comment_count %}
        {{ comment_count }} comment.
        {% plural %}
        {{ comment_count }} comments.
        {% endblocktrans %}
      </H5>
      <hr/>
      {% endif %}
      
      {% if object.allow_comments %}
      <div class="comment">
        <H4 class="text-center">Post your comment</H4>
        <div class="well">
          {% render_comment_form for object %}
        </div>
      </div>
      {% else %}
      <h5 class="text-center">comments are disabled for this quote</h5>
      {% endif %}
      
      {% if comment_count %}
      <hr/>
      <ul class="media-list" id="comment-tree">
        {% render_xtdcomment_tree for object allow_feedback show_feedback allow_flagging %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip({'html':true});
})
</script>
{% endblock %}
