/*
 * This layer refers to reusable components, blocks or objects like dropdown
 * menus, modals, navigation bars, etc. The styles here defined provide most
 * of the colors, spacing, typography rules, etc.
 */

@layer components {

  .title h1 a {
    text-decoration: none;
  }

  .intro {
    width: 100%;
    padding: 2em 1em;
    line-height: 1.5em;
    color: var(--intro-color);
  }

  @media screen and (max-width: 375px) {
    .intro {
      padding: 2em 0;
    }
  }

  .intro .container {
    flex-direction: column;
  }

  /* --------------------------------------------- */
  main {
    flex: 1 0 auto;
    margin: 0 1em;
    padding: 0em;
  }

  main p {
    line-height: 1.5em;
  }

  .subtitle {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .column p {
    margin: 8px 0 24px;
    line-height: 1.5em;
    color: var(--body-color);
  }

  .column p.box {
    padding: 16px;
    border: 1px solid #44b78b;
    border-bottom-width: 2px;
    border-radius: 16px;
  }

  .row {
    width: 100%;
    margin-left: -.75em;
    margin-right: -.75em;
  }

  .flex-row {
    display: flex;
  }

  .column {
    flex: 1;
    margin-right: 0.75em;
    margin-left: 0.75em;
  }

  main>article {
    flex-grow: 1;
  }

  footer {
    flex-shrink: 0;
    margin: 32px 0 0;
    padding: 8px 0;
    font-size: 0.9rem;
    text-align: center;
  }

  footer p {
    margin: 0.5rem auto;
    text-align: center;
    color: gray;
  }

  .marquee {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
    background-color: var(--marquee-background-color);
    padding: 1rem;
  }

  .marquee > div {
    display: flex;
    flex-direction: column;
  }

  .alert, .message {
    margin: 1rem 0;
    padding: 8px 16px;
    border-radius: 4px;
  }

  .message li {
    margin: 0;
    list-style: none;
  }

  .alert-info,
  .message-info {
    background-color: var(--alert-background-color);
    border: 1px solid var(--alert-border-color-info);
  }

  .alert-success,
  .message-success {
    background-color: var(--alert-background-color);
    border: 1px solid var(--alert-border-color-success);
  }

  .alert-warning,
  .message-warning {
    background-color: var(--alert-background-color);
    border: 1px solid var(--alert-border-color-warning);
  }

  .alert-error,
  .message-error {
    background-color: var(--alert-background-color);
    border: 1px solid var(--alert-border-color-error);
  }

  blockquote.quote {
    margin: 1rem 1.5rem;
    padding: 12px 24px;
    border-left: 5px solid var(--blockquote-border-color);
    font-size: 1.1em;
    line-height: 1.5;
  }

  @media screen and (max-width: 839px) {
    blockquote.quote {
      margin: 1rem 0rem;
    }
  }

  /* ------- nav ------- */

  nav>a:hover {
    color: var(--nav-link-color-hover);
    background-color: var(--nav-link-background-color-hover);
    text-decoration: none;
  }

  nav>a.active {
      color: var(--nav-link-color-hover);
      background-color: var(--nav-link-background-color-active);
  }

  nav>a>.icon {
      margin-right: 4px;
  }

  nav>a>svg.icon {
      stroke: var(--link-color);
      stroke-width: 2px;
  }

  nav>a.active>svg.icon {
      stroke: white;
  }

  /* ------- anchors --------- */

  a {
    color: var(--link-color);
    text-decoration: none;
  }

  a:hover {
      color: var(--link-color-hover);
      text-decoration: underline;
  }

  /* ------- buttons --------- */

  button,
  a.btn {
    border-style: solid;
    border-width: 0 1px 4px 1px;
    border-radius: 0.25rem;
    padding: 0.4rem 1rem 0.3rem;
    font-size: 0.800rem;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-family: inherit;
  }

  button.small,
  a.btn.small {
    padding: 0.2rem 0.8rem;
    font-size: 0.85rem;
  }

  button:not(.disabled):hover,
  a.btn:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
  }

  button:not(.disabled):active,
  a.btn:active {
    margin-top: 2px;
    border-bottom-width: 2px;
  }

  button:hover,
  button:focus,
  a.btn:hover,
  a.btn:focus {
    text-decoration: none;
  }

  button:focus,
  button.focus,
  a.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
  }

  button.disabled,
  button:disabled,
  a.btn.disabled {
    opacity: 0.65;
  }

  button:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  button.primary,
  a.btn.primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-background-color);
    border-color: var(--button-primary-border-color);
  }

  button.primary:hover,
  a.btn.primary:hover {
    color: var(--button-primary-color);
    background-color: var(--button-primary-background-color-hover);
    border-color: var(--button-primary-border-color-hover);;
  }

  button.primary:focus,
  button.primary.focus,
  a.btn.primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
  }

  button.primary.disabled,
  button.primary:disabled,
  a.btn.primary.disabled {
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3;
  }

  button.primary:not(:disabled):not(.disabled):active,
  button.primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #0c7cd5;
    border-color: #0b75c9;
  }

  button.primary:not(:disabled):not(.disabled):active:focus,
  button.primary:not(:disabled):not(.disabled).active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
  }

  button.secondary,
  a.btn.secondary {
    color: #222;
    background-color: #f0f0f0;
    border-color: #d7d6d6;
  }

  button.secondary:hover,
  a.btn.secondary:hover {
    color: #222;
    background-color: #dddddd;
    border-color: #d7d6d6;
  }

  button.secondary:focus,
  button.secondary.focus,
  a.btn.secondary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 240, 240, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(240, 240, 240, 0.5);
  }

  button.secondary.disabled,
  button.secondary:disabled,
  a.btn.secondary.disabled {
    color: #222;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
  }

  button.secondary:not(:disabled):not(.disabled):active,
  button.secondary:not(:disabled):not(.disabled).active {
    color: #222;
    background-color: #d7d6d6;
    border-color: #d0d0d0;
  }

  button.secondary:not(:disabled):not(.disabled):active:focus,
  button.secondary:not(:disabled):not(.disabled).active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 240, 240, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(240, 240, 240, 0.5);
  }

  .grid-form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }

  .grid-form.ymargin {
    margin-top: 32px;
    margin-bottom: 16px
  }

  .grid-form.xmargin {
    margin-left: 16px;
    margin-right: 16px
  }

  .grid-form.bordered {
    border: 8px solid rgba(0, 0, 0, .1);
    border-radius: 0.5rem;
  }

  .grid-form > H5 {
    margin-bottom: 0px;
  }

  .grid-form > P {
    margin: 1.5rem 2.2rem 0.5rem;
  }

  .grid-form > P + P {
    margin-top: 0;
  }

  .grid-form form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    padding: 0 2rem;
  }

  .grid-form form.col-2fr3fr {
    grid-template-columns: 2fr 3fr;
  }

  .col1 {
    grid-column: 1/2;
  }

  .col2 {
    grid-column: 2/3;
    padding-right: 2.5rem;
  }

  @media screen and (max-width: 839px) {
    .col2 {
      padding-right: 0;
    }
  }

  .col1-2 {
    grid-column: 1/3
  }

  /* ------- avatar-list --------- */

  .avatar-list UL {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .avatar-list LI {
    list-style-type: none;
    margin: 8px 16px 8px 0;
    padding: 1px;
    border: 3px solid #b6b6b6;
  }

  .avatar-list LI.selected {
    border: 3px solid #0d8aee;
  }

  .avatar-list UL LI LABEL {
    display: flex;
  }

  .avatar-list input[type=radio] {
    display: none;
  }

}
