/*
 * This layer is focused on the high level layout of the page, like
 * putting the header, footer and sidebars in place, or adding grids
 * and columns.
 *
 * There could be sub layers inside this one to refer to different
 * layouts for different pages.
 */

@layer layout {
  HTML {
    height: 100%;
  }

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: center;
  }

  nav>a {
    display: block;
  }

  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  header .container,
  footer .container {
    flex-direction: row
  }

  @media screen and (min-width: 840px) {
    .container {
      width: 732px;
    }
  }

  @media screen and (max-width: 839px) {
    .container {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      flex-direction: column;
    }

    header .container,
    footer .container {
      flex-direction: column;
    }
  }

  header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .title h1 {
    margin-bottom: 0;
  }

  header .title h4 {
    margin-top: 0;
    color: var(--header-title-2nd-color);
  }

  @media screen and (min-width: 840px) {
    header .title h1 {
      font-size: 2.5em;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 839px) {
    header .title h1 {
      font-size: 2em;
    }
  }

  @media screen and (max-width: 320px) {
    header .title h1 {
      font-size: 1.8em;
    }

    header .title h4 {
      font-size: 1.1em;
    }
  }

  header .title h1 a {
    display: block;
    text-decoration: none;
    color: var(--header-title-1st-color);
  }

  #language-dropdown {
    margin-left: .2rem;
  }

  @media screen and (min-width: 840px) {
    nav>a {
      padding: .4rem .9rem;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 839px) {
    nav {
      padding-bottom: 8px;
    }

    nav>a {
      padding: .4rem .7rem;
      margin-bottom: .1rem;
    }
  }

  @media screen and (max-width: 320px) {
    nav>a {
      margin-left: .1rem;
      padding: .4rem .4rem;
      margin-bottom: .1rem;
    }
  }

}

