@layer utilities {
  .inline-left {
    display: flex;
    justify-content: left;
  }

  .inline-centered {
    display: flex;
    justify-content: center;
  }

  .inline-left>*,
  .inline-centered>* {
    display: inline-block;
  }

  .central-column {
    margin: 0 auto;
    max-width: 735px;
  }

  .wo-y-margins * {
    margin-top: 0;
    margin-bottom: 0
  }

  .expand {
    justify-content: space-between;
  }

  .centered { margin: 0 auto }
  .mw720 { max-width: 720px }
  .fgrow { flex-grow: 1 }
  .width-fit-content { width: fit-content }

  .text-success { color: var(--alert-color-success); }
  .text-info { color: var(--alert-color-info); }
  .text-warning { color: var(--alert-color-warning); }
  .text-error { color: var(--alert-color-error); }

  .fw300 { font-weight: 300 }
  .fw400 { font-weight: 400 }
  .fw700 { font-weight: 700 }

  .lh1 { line-height: 1 }

  .monospace { font-family: "Red Hat Mono", 'Courier New', Courier, monospace }
  .big { font-size: 1.2rem }
  .small { font-size: 0.85rem }

  .muted { color: rgb(162, 162, 162) }

  .text-center { text-align: center }
  .text-right { text-align: right }

  .m-2 { margin: 1rem; } /* before: m2 */

  .mb-0 { margin-bottom: 0; }  /* before: mb0 */
  .mb-1 { margin-bottom: .5rem; }
  .mb-2 { margin-bottom: 1rem; }
  .mb-3 { margin-bottom: 1.5rem; }
  .mb-4 { margin-bottom: 2rem; }

  .ml-1 { margin-left: .5rem }  /* before: ml8 */
  .ml-2 { margin-left: 1rem }  /* before: ml16 */
  .ml-4 { margin-left: 2rem }  /* before: ml32 */

  .mt-0 { margin-top: 0; }
  .mt-1 { margin-top: .5rem; }
  .mt-2 { margin-top: 1rem; }
  .mt-3 { margin-top: 1.5rem; }
  .mt-4 { margin-top: 2rem }  /* before: mt32 */

  .pt-1 { padding-top: .5rem }  /* before: pt8 */

  .pb-3 { padding-bottom: 1.5rem }  /* before: pb24 */
  .pb-4 { padding-bottom: 2rem }  /* before: pb32 */

  .mx-0 { margin-left: 0; margin-right: 0 }  /* before: mx0 */
  .my-0 { margin-top: 0; margin-bottom: 0 }  /* before: my0 */

  .py-1 { padding: .5rem 0 }  /* before: py06 */
  .px-1 { padding: 0 .5rem }
  .px-2 { padding: 0 1rem }  /* before: px1 */

  .bt1 { border-top: 1px solid var(--border-color-subtle); }
}
