{% extends "users/account_base.html" %}

{% load i18n %}
{% load static %}

{% block nav-edit-user %}<span class="small">{% trans "Edit profile" %}</span>{% endblock %}

{% block sub_content %}
<div class="container md mt32">
  <div class="row">
    <div class="column">
      <h3>{% trans "Edit Profile" %}</h3>
      <div class="grid-form xmargin fgrow bt1">
        <form id="email_form" method="POST" onSubmit="return submit_email_form()">
          {% if email_form_msg %}
          <div id="email_form_msg" class="col1-2 alert alert-success text-center text-success">
            {{ email_form_msg }}
          </div>
          {% else %}
          <div id="email_form_msg" class="col1-2 text-center alert hide"></div>
          {% endif %}
          {% csrf_token %}
          <label class="col1" for="{{ email_form.email.id_for_label }}">{% trans "Email address" %}</label>
          <div class="col2">{{ email_form.email }}</div>
          <div class="col2">
            <div class="inline-left">
              <button class="small primary" type="submit" name="submit">{% trans 'save email address' %}</button>
            </div>
          </div>
        </form>
      </div>

      <div class="grid-form xmargin ymargin fgrow bt1">
        <form id="pdata_form" method="POST" onSubmit="return submit_pdata_form()">
          {% if pdata_form_msg %}
          <div id="pdata_form_msg" class="col1-2 text-center alert">
            {{ pdata_form_msg }}
          </div>
          {% else %}
          <div id="pdata_form_msg" class="col1-2 text-center alert hide"></div>
          {% endif %}
          {% csrf_token %}
          <label class="col1" for="{{ pdata_form.name.id_for_label }}">{{ pdata_form.name.label }}</label>
          <div class="col2">{{ pdata_form.name }}</div>
          <label class="col1" for="{{ pdata_form.url.id_for_label }}">{{ pdata_form.url.label }}</label>
          <div class="col2">{{ pdata_form.url }}</div>
          <label class="col1" for="{{ pdata_form.language.id_for_label }}">{{ pdata_form.language.label }}</label>
          <div class="col2">{{ pdata_form.language }}</div>
          <div class="col2">
            <div class="inline-left">
              <button class="small primary" type="submit" name="submit">{% trans 'save data changes' %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock sub_content %}

{% block extra_js %}
<script type="module" src="{% static 'users/js/index.js' %}"></script>
{% endblock %}
