{% extends "users/account_base.html" %}

{% load i18n %}
{% load static %}

{% block nav-change-pwd %}<span class="small">{% trans "Change password" %}</span>{% endblock %}

{% block sub_content %}
<div class="container mt32">
  <div class="row">
    <div class="column">
      <h3>{% trans "Change password" %}</h3>
      <div class="grid-form xmargin fgrow bt1">
        <form id="pwd_form" class="col-2fr3fr" method="POST">
          {% csrf_token %}

          {% if form.non_field_errors %}
            <div class="col1-2 alert alert-error text-center text-error">
              {% for form_error in form.non_field_errors %}
                {{ form_error }}
              {% endfor %}
            </div>
          {% endif %}

            {% if messages %}
              {% for msg in messages %}
                <div class="col1-2 alert alert-{{ msg.tags }} text-center text-{{ msg.tags }}">{{ msg }}</div>
              {% endfor %}
            {% endif %}

          <label class="col1" for="{{ form.pwd1.id_for_label }}">
            {{ form.pwd1.label }}
          </label>
          <div class="col2">{{ form.pwd1 }}</div>

          <label class="col1" for="{{ form.pwd2.id_for_label }}">
            {{ form.pwd2.label }}
          </label>
          <div class="col2">{{ form.pwd2 }}</div>

          <div class="col2">
            <div class="inline-left">
              <button class="small primary" tabindex="3" type="submit" name="submit">{% trans 'change password' %}</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock sub_content %}