{% load i18n %}
{% load comments_xtd %}

{% with creactions=comment.get_reactions %}
  {% if creactions.counter > 0 %}
    <div class="sep">
      <div class="reactions" id="cm-reactions-{{ comment.id }}">
        <div class="active-reactions">
          {% for reaction in creactions.list %}
            {% if reaction.counter > 0 %}
              <div class="reaction" data-reaction="{{ reaction.value }}">
                {% if reaction.counter > max_users_in_tooltip %}<a href="{% url 'comments-xtd-reaction-user-list' comment.id reaction.value %}" class="smaller">{{ reaction.counter }}</a>{% else %}<span class="smaller">{{ reaction.counter }}</span>{% endif %}<span class="emoji">{{ reaction.icon }}</span>
                <div class="tooltip">{% if reaction.counter > reaction.authors|length %}{% blocktrans with authors=reaction.authors|join:", " label=reaction.label %}{{ authors }} and more reacted with {{ label }}{% endblocktrans %}{% elif reaction.counter == reaction.authors|length %}{% blocktrans with authors=reaction.authors|join:", " label=reaction.label %}{{ authors }} reacted with {{ label }}{% endblocktrans %}{% endif %}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endwith %}
