{% load i18n %}
{% load comments %}
{% load comments_xtd %}

<section class="reply-form active" data-djcx="reply-form-{{ form.reply_to.value }}">
  {% if display_preview %}
    <section class="comment-preview mb32" data-djcx="preview">
      <div class="comment-box">
        {{ 0|indent_divs }}
        <div class="comment-preview">
          <div class="header flex-align-center">
            <div class="user-avatar flex-align-center">
              {% get_user_gravatar form.cleaned_data.email "36,identicon" %}
            </div>
            <div class="flex-grow py-0 px-16">
              {% if form.cleaned_data.url %}<a href="{{ form.cleaned_data.url }}" target="_new">{{ form.cleaned_data.name }}</a>{% else %}{{ form.cleaned_data.name }}{% endif %}
            </div>
            <div class="small text-info">{% translate "comment in preview" %}</div>
            <div class="feedback"></div>
          </div>
          <div class="body">
            {{ form.cleaned_data.comment|linebreaks|escape }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% include "comments/reply_form.html" %}

  <div class="reply-form" data-djcx="reply-textarea">
    <textarea rows="1" placeholder="{% translate 'Your reply' %}"></textarea>
  </div>
</section>
