{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block content %}
<h4>{% trans "Preview your comment:" %}</h4>
<div class="row">
  <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
    <div class="media">
      {% if not comment %}
      <em>{% trans "Empty comment." %}</em>
      {% else %}
      <div class="media-left">
        <a href="{{ form.cleaned_data.url }}">
          {{ form.cleaned_data.email|xtd_comment_gravatar }}
        </a>
      </div>
      <div class="media-body">
        <h6 class="media-heading">
          {% now "N j, Y, P" %}&nbsp;-&nbsp;
          {% if form.cleaned_data.url %}
          <a href="{{ form.cleaned_data.url }}" target="_new">{% endif %}
            {{ form.cleaned_data.name }}
            {% if form.cleaned_data.url %}</a>{% endif %}
        </h6>
        <span>{{ form.cleaned_data.title }}</span><br/>
        <div class="well well-sm">{{ comment }}</div>
      </div>
      {% endif %}
    </div>
    <div class="visible-lg-block visible-md-block">
      <hr/>
    </div>
  </div>
</div>
<div class="well well-lg">
  {% include "comments/form.html" %}
</div>
{% endblock %}
