/* Variable font: Comme.
 * Fallback to static font files in case the
 * browser doesn't support variable fonts.
 */

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Comme';
    src: url('Comme-VariableFont_wght.ttf') format("woff2-variations"),
         url('Comme-VariableFont_wght.ttf') format("woff2");
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'Comme';
    src: url('Comme-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Comme';
    src: url('Comme-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Comme';
    src: url('Comme-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Comme';
    src: url('Comme-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Comme';
    src: url('Comme-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'SemiBold';
    src: url('Comme-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Comme';
    src: url('Comme-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Comme';
    src: url('Comme-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'Comme';
    src: url('Comme-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
}
