:root, HTML {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    color: #333;
}

*, ::before, ::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oxygen", sans-serif;
    color: #444;
}

h1 { font-size: 1.8rem; margin: 1.5rem 0 }
h2 { font-size: 1.6rem; margin: 1.4rem 0 }
h3 { font-size: 1.4rem; margin: 1.3rem 0 }
h4 { font-size: 1.3rem; margin: 1.2rem 0 }
h5 { font-size: 1.2rem; margin: 1.1rem 0 }
h6 { font-size: 1.1rem; margin: 1rem 0 }

li h1, li h2, li h3, li h4, li h5, li h6 {
    margin: 0.5rem;
    font-weight: 600;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
}

/* ----------------------------------------- */

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .container, footer .container {
    flex-direction: row
}

@media screen and (min-width: 1172px) {
    .container {
        width: 1140px;
    }
    .container.md {
        width: 820px;
    }
}

@media screen and (min-width: 840px) and (max-width: 1171px) {
    .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .container.md {
        width: 820px;
    }
}

@media screen and (max-width: 839px) {
    .container {
        width: 100%;
        flex-direction: column;
    }
    header .container, footer .container {
        flex-direction: column;
    }
}

/* ----------------------------------------- */

li+li {
    margin-top: 0.3em;
}

header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------- */

header .title h1 {
    margin-bottom: 0;
}

header .title h4 {
    margin-top: 0;
    color: #44b78b;
    font-weight: 400;
}

@media screen and (min-width: 840px) {
    header .title h1 {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 321px) and (max-width: 839px) {
    header .title h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 320px) {
    header .title h1 {
        font-size: 1.8em;
    }
    header .title h4 {
        font-size: 1.1em;
    }
}

/* ------------------------------------- */

header .title h1 a {
    display: block;
    text-decoration: none;
    color: #3aa3ff;
}

/* ------------------------------------- */

nav {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: center;
}

nav>a {
    display: block;
    border-radius: 0.25rem;
    background-color: transparent;
    text-transform: uppercase;
    line-height: 1.4;
    font-size: .8rem;
    color: #2196f3;
}

nav>a+a {
    margin-left: .2rem;
}

#language-dropdown {
    margin-left: .2rem;
}

@media screen and (min-width: 840px) {
    nav>a {
        padding: .4rem .9rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 839px) {
    nav {
        padding-bottom: 8px;
    }
    nav>a {
        padding: .4rem .7rem;
        margin-bottom: .1rem;
    }
}

@media screen and (max-width: 320px) {
    nav>a {
        margin-left: .1rem;
        padding: .4rem .4rem;
        margin-bottom: .1rem;
    }
}

/* ------------------------------------- */

nav>a:hover {
    color: white;
    background-color: #3aa3ff;
}

nav>a.active {
    color: white;
    background-color: #2196f3;
}

nav>a>.icon {
    margin-right: 4px;
}

nav>a>svg.icon {
    stroke: rgb(39 155 247);
    stroke-width: 2px;
}

nav>a.active>svg.icon {
    stroke: white;
}

a {
    color: rgb(39 155 247);
    text-decoration: none;
}

a.underline:hover {
    color: rgb(4 92 162);
    text-decoration: underline;
}

a>* {
    /* Nothing within the anchor elements should have pointer events,
   * so that when clicking in a SVG button, the click doesn't land
   * in the SVG, the USE, PATHs, etc, but in the A itself.
   */
    pointer-events: none;
}

/* ------------------------------------ */

@media screen and (min-width: 840px) {
    .container .intro {
        width: 900px;
        padding: 2em;
    }
}

.intro {
    width: 100%;
    padding: 2em 1em;
    text-align: center;
    color: black;
    font-size: 1.1em;
}

@media screen and (max-width: 375px) {
    .intro {
        padding: 2em 0;
    }
}

/* -------------- */

.intro .container {
    flex-direction: column;
}

/* ------------------------------------ */

main {
    flex: 1 0 auto;
    margin: 0 1em;
    padding: 1em 0em;
}

.subtitle {
    margin-top: 1.7em;
    margin-bottom: 1.3em;
    font-size: 0.95rem;
    text-transform: uppercase;
}

.column p {
    /* font-size: 1.1em; */
    color: rgba(0, 0, 0, .8);
}

.row {
    width: 100%;
    display: flex;
    margin-left: -.75em;
    margin-right: -.75em;
}

.column {
    flex: 1;
    margin-right: 0.75em;
    margin-left: 0.75em;
}

main>article {
    flex-grow: 1;
}

/* ------------------------------------ */

.pic {
    position: relative;
}

.pic img {
    width: 100%;
    object-fit: scale-down;
    border-style: solid;
    border-color: rgba(0, 14, 24, .8);
    border-width: 2px 2px 32px;
}

.pic .credit {
    position: absolute;
    bottom: 12px;
    right: 16px;
    color: rgb(211, 211, 211);
    font-size: 0.8rem;
}

/* ------------------------------------ */

footer {
    flex-shrink: 0;
    margin: 32px 0 0;
    padding: 8px 0;
    background-color: rgb(0, 40, 72);
    font-size: 0.8rem;
    text-align: center;
}

footer p {
    margin: 0.5rem auto;
    text-align: center;
    color: white;
}

footer p a {
    color: white
}

/* ---------------------------------------------------------------- */

.inline-left {
    display: flex;
    justify-content: left;
}

.inline-centered {
    display: flex;
    justify-content: center;
}

.inline-left>*, .inline-centered>* {
    display: inline-block;
}

.central-column {
    margin: 0 auto;
    max-width: 735px;
}

.marquee {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
    background-color: aliceblue;
    padding: 16px;
}

.marquee div {
    display: flex;
    flex-direction: column;
}

.wo-y-margins * {
    margin-top: 0;
    margin-bottom: 0
}

.expand {
    justify-content: space-between;
}

.alert {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 0.9rem;
}

.alert-info { background-color: aliceblue }
.alert-success { background-color: #dbffe4 }
.alert-warn { background-color: #fff6e6 }
.alert-error { background-color: #fdf0f0 }

blockquote.quote {
    margin: 1rem 1.5rem;
    padding: 12px 24px;
    border-left: 5px solid #f0f0f0;
    font-size: 1.2em;
    line-height: 1.5;
}

@media screen and (max-width: 839px) {
    blockquote.quote {
        margin: 1rem 0rem;
    }
}

/* ------- buttons --------- */

button, a.btn {
    border-style: solid;
    border-width: 0 1px 4px 1px;
    border-radius: 0.25rem;
    padding: 0.4rem 1rem 0.35rem;
    font-size: 0.800rem;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-family: inherit;
}

button.small, a.btn.small {
    padding: 0.2rem 0.8rem;
    font-size: 0.75rem;
}

button:not(.disabled):hover, a.btn:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
}

button:not(.disabled):active, a.btn:active {
    margin-top: 2px;
    border-bottom-width: 2px;
}

button:hover, button:focus, a.btn:hover, a.btn:focus {
    text-decoration: none;
}

button:focus, button.focus, a.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
}

button.disabled, button:disabled, a.btn.disabled {
    opacity: 0.65;
}

button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button.primary, a.btn.primary {
    color: #fff;
    background-color: #2196f3;
    border-color: #0d8aee;
}

button.primary:hover, a.btn.primary:hover {
    color: #fff;
    background-color: #0c83e2;
    border-color: #0c7cd5;
}

button.primary:focus, button.primary.focus, a.btn.primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
}

button.primary.disabled, button.primary:disabled, a.btn.primary.disabled {
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3;
}

button.primary:not(:disabled):not(.disabled):active,
button.primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #0c7cd5;
    border-color: #0b75c9;
}

button.primary:not(:disabled):not(.disabled):active:focus,
button.primary:not(:disabled):not(.disabled).active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
}

button.secondary, a.btn.secondary {
    color: #222;
    background-color: #f0f0f0;
    border-color: #d7d6d6;
}

button.secondary:hover, a.btn.secondary:hover {
    color: #222;
    background-color: #dddddd;
    border-color: #d7d6d6;
}

button.secondary:focus, button.secondary.focus, a.btn.secondary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 240, 240, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(240, 240, 240, 0.5);
}

button.secondary.disabled, button.secondary:disabled, a.btn.secondary.disabled {
    color: #222;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

button.secondary:not(:disabled):not(.disabled):active,
button.secondary:not(:disabled):not(.disabled).active {
    color: #222;
    background-color: #d7d6d6;
    border-color: #d0d0d0;
}

button.secondary:not(:disabled):not(.disabled):active:focus,
button.secondary:not(:disabled):not(.disabled).active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 240, 240, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(240, 240, 240, 0.5);
}

/* -------- forms ---------- */

.grid-form {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
}

.grid-form.ymargin { margin-top: 32px; margin-bottom: 16px }
.grid-form.xmargin { margin-left: 16px; margin-right: 16px }

.grid-form.bordered {
    border: 8px solid rgba(0, 0, 0, .1);
    border-radius: 0.5rem;
}

.grid-form>H5 {
    margin-bottom: 0px;
}

.grid-form>P {
    margin: 1.5rem 2.2rem 0.5rem;
}

.grid-form>P+P {
    margin-top: 0;
}

.grid-form form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    padding: 1.5rem 2.5rem;
}

.grid-form form.col-2fr3fr {
    grid-template-columns: 2fr 3fr;
}

.col1 {
    grid-column: 1/2;
}

.col2 {
    grid-column: 2/3;
    padding-right: 2.5rem;
}

@media screen and (max-width: 839px) {
    .col2 {
        padding-right: 0;
    }
}

.col1-2 {
    grid-column: 1/3
}

label {
    margin: auto 0;
    text-align: right;
    font-size: 0.9rem;
}

input, select, textarea {
    font-family: "Oxygen", sans-serif;
    font-size: 0.9rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.25rem;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

textarea {
    width: 100%;
    padding: 8px 12px;
}

input:focus, select:focus, textarea:focus {
    outline: 0;
    color: #555;
    background-color: white;
    border: 1px solid #9acffa;
    box-shadow: 0 0 0 .2rem rgba(33, 150, 243, 0.25);
}

select,
input[type=url],
input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: .3rem .5rem;
    background-color: white;
}

input.error,
textarea.error,
.error>input,
.error>textarea {
    border-color: rgb(245, 153, 156);
    box-shadow: inset 0 2px 0 rgba(245, 153, 156, .2);
}

input.error:focus,
textarea.error:focus,
.error>input:focus,
.error>textarea:focus {
    border: 1px solid rgb(245, 153, 156);
    box-shadow: 0 0 0 .2rem rgba(247, 37, 42, 0.25);
}

.helper-text {
    margin-top: -.7rem;
    font-size: 0.75rem;
    color: gray;
}

.helper-text.error {
    color: red
}

/* ------- avatar-list --------- */

.avatar-list UL {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.avatar-list LI {
    list-style-type: none;
    margin: 8px 16px 8px 0;
    padding: 1px;
    border: 3px solid #b6b6b6;
}

.avatar-list LI.selected {
    border: 3px solid #0d8aee;
}

.avatar-list UL LI LABEL {
    display: flex;
}

.avatar-list input[type=radio] {
    display: none;
}

/* ------- no-bullet --------- */

.no-bullet UL {
    margin: 0;
    padding: 0;
}

.no-bullet LI {
    list-style-type: none;
}

/* ------- helpers --------- */

.fgrow { flex-grow: 1 }

.text-success { color: green }
.text-info { color: #0088ff }
.text-warn { color: orange }
.text-error { color: red }

.fw500 { font-weight: 500 }

.lh1 { line-height: 1 }

.big { font-size: 1.2rem }
.small { font-size: 0.75rem }

.muted { color: rgb(162, 162, 162) }

.text-center { text-align: center }
.text-right { text-align: right }

.mx0 { margin-left: 0; margin-right: 0 }
.my0 { margin-top: 0; margin-bottom: 0 }
.ml8 { margin-left: 8px }
.ml32 { margin-left: 32px }
.mt32 { margin-top: 32px }
.pb24 { padding-bottom: 24px }
.pb32 { padding-bottom: 32px }
.py06 { padding: .6rem 0 }
.px1 { padding: 0 1rem }
.bt1 { border-top: 1px solid rgba(0, 0, 0, .1) }

.bgc-alice { background-color: aliceblue }

.hide { display: none }