{% load i18n %}
{% load comments %}
{% load comments_xtd %}

<div id="c{{ comment.id }}" class="comment-box {% if show_nested %}{% comment_css_thread_range comment %}{% endif %}">
  {% if show_nested %}{{ comment.level|indent_divs }}{% endif %}
  <div class="comment">
    <div class="header">
      <div>{% if comment.url and not comment.is_removed %}<a href="{{ comment.url }}" target="_new">{{ comment.name }}</a>{% else %}{{ comment.name }}{% endif %}&nbsp;&sdot;&nbsp;<span class="muted">{{ comment.submit_date }}</span>&nbsp;&nbsp;<a class="permalink" title="comment permalink" href="{% get_comment_permalink comment %}">¶</a></div>
      <div class="small"><a href="{% url 'comments-flag' comment.id %}">report</a></div>
    </div>
    <div class="body">
      {% if comment.is_removed %}
        <p class="text-muted">
          {% trans "This comment has been removed." %}
        </p>
      {% else %}
        {{ comment.comment|linebreaks|escape }}
      {% endif %}
    </div>
    <div class="footer">
      {% if not comment.is_removed %}
        {% if allow_comment_reactions %}
          {% if comment.reactions.count > 0 %}
            <div class="reactions">
              {% include "includes/django_comments_xtd/comment_reactions.html" %}
            </div>
          {% endif %}
        {% endif %}
        {% if allow_comment_reactions %}
          <div>
            <a data-type="reactions-panel" data-comment="{{ comment.id }}" class="small" data-user-auth="{{ user.is_authenticated }}" href="{% url 'comments-xtd-react' comment.id %}">{% translate "React" %}</a>
          </div>
        {% endif %}
      {% endif %}
      {% if show_nested and comment.nested_count %}
        <div>
          <a data-type="fold-replies" data-comment="{{ comment.id }}" class="small" href="#">{% blocktranslate with count=comment.nested_count%}Fold {{ count }} replies{% endblocktranslate %}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
