{% if allow_feedback and item.reactions %}
<span class="small">
  {% for reaction in item.reactions %}
    {% if show_feedback and reaction.counter > 0 %}
      <a
        class="badge badge-primary text-white cfb-counter"
        title="{{ reaction.authors|join:'<br/>' }}"
        data-toggle="tooltip"
      >{{ reaction.counter }}</a>
    {% endif %}

    <a
      href="#" class="{% if reaction.counter == 0 %}mutedlink{% endif %}"
    ><span class="{{ reaction.icon }}"></span></a>
    {% if not forloop.last %}
      <span class="text-muted">|</span>
    {% endif %}
  {% endfor %}
</span>
{% endif %}