appnope==0.1.2
asgiref==3.3.1
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
decorator==5.0.5
Django==3.1.7
django-appconf==1.0.4
django-avatar==5.0.0
django-contrib-comments==2.1.0
django-debug-toolbar==3.2
django-extensions==3.1.1
django-manifest-loader==1.0.0
django-rosetta==0.9.6
djangorestframework==3.12.4
idna==2.10
ipdb==0.13.7
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
polib==1.1.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.8.1
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5
