{% extends "base.html" %}
{% load i18n comments %}

{% block content %}
<h4>Articles list</h4>
{% if object_list %}
<UL>
  {% for article in object_list %}
  {% get_comment_count for article as comment_count %}
  <li>
    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    <span class="small">
      {{ article.publish|date:"d-F-Y" }}{% if comment_count %} - {{ comment_count }} comment{{ comment_count|pluralize }}{% endif %}
    </span>
  </li>
{% endfor %}
</UL>
{% endif %}
<p>
  <a href="{% url 'homepage' %}">{% trans "Home" %}</a>
</p>
{% endblock %}
