{% extends "base_dark.html" %}
{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;{{ title }}{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'django_comments_xtd/css/djcx-styles.css' %}">
{% endblock %}

{% block content %}
<main>
  <article>
    <h2 class="text-center">Comments level 0-3, feedback off</h2>
    <div class="text-center monospace">def_nested theme</div>
    <h6 class="text-center small">{% now "F j, Y" %}</h6>
    <div class="central-column">
      <div style="margin-bottom: 48px">
        <ol>
          <li>This page contains some CSS declarations in a <code>&lt;style&gt;</code> element, in the <code>base.html</code> template.</li>
          <li>It is minimally styled to show how the comment box will look like when including only django-comments-xtd styles.</li>
          <li>The <code>extra_css</code> block in the template only includes the css file corresponding to  <code>django-comments-xtd/css/comments.css</code>. So only the <code>div.comments</code> is styled.</li>
        </ol>
      </div>

      <h3 class="text-center">There are 18 comments</h3>

      <div class="djcx dark">
        <div class="comment-list" data-djcx="config">

          <div id="ct-1" class="cmthread cmthread--narrow cmthread--l0">
            <a href="#" class="vline"></a>
            <div class="thread-group"><!-- level 0 -->

              <!-- Start comment-1 (level 0) -->
              <div id="comment-1" class="comment-box" data-djcx-cid="1">
                <div class="comment comment--in-thread">
                  <div class="header">
                    <div>
                      Zachery Monaghan  ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/1/#comment-1">¶</a>
                    </div>
                    <div id="cm-flags-1">
                      <div class="tip-container">
                        <a data-dci-action="flag" data-comment="1" href="/comments/flag/1/?#comment-1">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                      </div>
                    </div>
                  </div>
                  <div class="body body-bordered">
                    <p>Dolorum voluptate cumque iure doloremque, sapiente veritatis eos quas asperiores architecto dignissimos, sequi enim accusantium minus obcaecati ex aliquid ab ipsam, explicabo officiis perferendis temporibus obcaecati totam possimus natus quibusdam praesentium distinctio?</p>
                  </div>
                  <div id="cm-feedback-1" class="feedback feedback-bordered">
                    <div class="inline-block">
                      <a href="#" class="cfold" data-djcx-cthread-id="1">
                        <span id="comment-1-replies" data-djcx="nreplies" class="small">8 replies</span>&nbsp;<span class="rotate180">▽</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End comment-1 -->

              <div id="ct-2" class="cmthread cmthread--narrow cmthread--l1">
                <a href="#" class="vline"></a>
                <div class="thread-group"><!-- level 1 -->

                  <!-- Start comment-2 (level 1) -->
                  <div id="comment-2" class="comment-box" data-djcx-cid="2">
                    <div class="comment comment--in-thread">
                      <div class="header">
                        <div>
                           Roscoe Bonilla ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/2/#comment-2">¶</a>
                        </div>
                        <div id="cm-flags-2">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="2" href="/comments/flag/2/?#comment-2">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                      <div class="body body-bordered">
                        <p>Repellendus veniam ab ipsam quam adipisci ratione illo voluptates, saepe laboriosam doloribus, asperiores aliquid iure, laborum officiis blanditiis nulla veniam exercitationem enim perspiciatis sed explicabo vel, exercitationem ab consequuntur magni eveniet?</p>
                      </div>
                      <div id="cm-feedback-2" class="feedback feedback-bordered">
                        <div class="inline-block">
                          <a href="#" class="cfold" data-djcx-cthread-id="2">
                            <span id="comment-2-replies" data-djcx="nreplies" class="small">5 replies</span>&nbsp;<span class="rotate180">▽</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End comment-2 (level 1) -->

                  <div id="ct-3" class="cmthread cmthread--narrow cmthread--l2">
                    <a href="#" class="vline"></a>
                    <div class="thread-group"><!-- level 2 -->

                      <!-- Start comment-3 (level 2) -->
                      <div id="comment-3" class="comment-box" data-djcx-cid="3">
                        <div class="comment comment--in-thread">
                          <div class="header">
                            <div>
                              Eva Rizzi ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/3/#comment-3">¶</a>
                            </div>
                            <div id="cm-flags-3">
                              <div class="tip-container">
                                <a data-dci-action="flag" data-comment="3" href="/comments/flag/3/?#comment-3">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                              </div>
                            </div>
                          </div>
                          <div class="body body-bordered">
                            <p>At incidunt excepturi dolorum cum nobis, consectetur voluptates hic mollitia facilis reprehenderit, aut sint repudiandae quae similique distinctio inventore.</p>
                          </div>
                          <div id="cm-feedback-3" class="feedback feedback-bordered">
                            <div class="inline-block">
                              <a href="#" class="cfold" data-djcx-cthread-id="3">
                                <span id="comment-3-replies" data-djcx="nreplies" class="small">2 replies</span>&nbsp;<span class="rotate180">▽</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End comment-3 -->

                      <div class="cmthread cmthread--narrow cmthread--end">
                        <!-- Start comment-4 (level 3) -->
                        <div id="comment-4" class="comment-box" data-djcx-cid="4">
                          <div class="comment comment--in-thread">
                            <div class="header">
                              <div>
                                Havin Baird ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/4/#comment-4">¶</a>
                              </div>
                              <div id="cm-flags-4">
                                <div class="tip-container">
                                  <a data-dci-action="flag" data-comment="4" href="/comments/flag/4/?#comment-4">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                                </div>
                              </div>
                            </div>
                            <div class="body body-bordered">
                              <p>Alias soluta sed ducimus quia vitae impedit aperiam dolores, expedita minima molestias.</p>
                            </div>
                            <div class="feedback feedback-bordered"></div>
                          </div>
                        </div>
                        <!-- End comment-4 -->

                        <!-- Start comment-5 (level 3) -->
                        <div id="comment-5" class="comment-box" data-djcx-cid="5">
                          <div class="comment comment--in-thread">
                            <div class="header">
                              <div>
                                Havin Baird ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/5/#comment-5">¶</a>
                              </div>
                              <div id="cm-flags-5">
                                <div class="tip-container">
                                  <a data-dci-action="flag" data-comment="5" href="/comments/flag/5/?#comment-4">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                                </div>
                              </div>
                            </div>
                            <div class="body body-bordered">
                              <p>Illo est sit nihil quaerat, aut quod doloribus similique perspiciatis a, ratione error rerum qui fuga voluptatum ipsum consequatur commodi assumenda, quo quisquam obcaecati incidunt necessitatibus error unde cum eligendi.</p>
                            </div>
                            <div class="feedback feedback-bordered"></div>
                          </div>
                        </div>
                        <!-- End comment-5 -->
                      </div>

                      <!-- Start Reply-to-3 -->
                      <div id="reply-to-3" class="reply-box" data-djcx-cid="3">
                        <div class="hline-l2"></div>
                        <div class="content">
                          <section class="reply-form" data-dci="reply-form">
                            <form id="reply-form-3" action="/comments/reply/3/">
                              <input type="hidden" name="reply_to" value="3">
                              <div class="col1-2">
                                <div class="inline-left">
                                  <button type="submit" class="btn-level-2 small" data-dci="reply-button">reply</button>
                                </div>
                              </div>
                            </form>
                          </section>
                        </div>
                      </div>
                      <!-- End Reply-to-3 -->
                    </div>
                  </div>

                  <div id="ct-6" class="cmthread cmthread--narrow cmthread--l2">
                    <span class="vline"></span>
                    <div class="thread-group"><!-- level 2 -->
                      <!-- Start comment-6 (level 2) -->
                      <div id="comment-6" class="comment-box" data-djcx-cid="6">
                        <div class="comment comment--in-thread">
                          <div class="header">
                            <div>
                              Zachery Monaghan ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/6/#comment-6">¶</a>
                            </div>
                            <div id="cm-flags-6">
                              <div class="tip-container">
                                <a data-dci-action="flag" data-comment="6" href="/comments/flag/6/?#comment-6">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                              </div>
                            </div>
                          </div>
                          <div class="body body-bordered">
                            <p>Doloribus provident quas deleniti animi excepturi reiciendis culpa, qui quibusdam facere commodi nesciunt obcaecati magnam illo beatae temporibus repudiandae suscipit, sint qui natus obcaecati asperiores, iusto deserunt voluptas a natus corrupti minus.</p>
                          </div>
                          <div class="feedback feedback-bordered"></div>
                        </div>
                      </div>
                      <!-- End comment-6 -->

                      <!-- Start Reply-to-6 -->
                      <div id="reply-to-6" class="reply-box" data-djcx-cid="6">
                        <div class="hline-l2"></div>
                        <div class="content">
                          <section class="reply-form" data-dci="reply-form">
                            <form id="reply-form-6" action="/comments/reply/6/">
                              <input type="hidden" name="reply_to" value="6">
                              <div class="col1-2">
                                <div class="inline-left">
                                  <button type="submit" class="btn-level-2 small" data-dci="reply-button">reply</button>
                                </div>
                              </div>
                            </form>
                          </section>
                        </div>
                      </div>
                      <!-- End Reply-to-6 -->
                    </div>
                  </div>

                  <div id="ct-7" class="cmthread cmthread--narrow cmthread--l2">
                    <span class="vline"></span>
                    <div class="thread-group"><!-- level 2 -->
                      <!-- Start comment-7 (level 2) -->
                      <div id="comment-7" class="comment-box" data-djcx-cid="7">
                        <div class="comment comment--in-thread">
                          <div class="header">
                            <div>
                              Nuha Holman ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/7/#comment-7">¶</a>
                            </div>
                            <div id="cm-flags-7">
                              <div class="tip-container">
                                <a data-dci-action="flag" data-comment="7" href="/comments/flag/7/?#comment-7">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                              </div>
                            </div>
                          </div>
                          <div class="body body-bordered">
                            <p>Pariatur quam error tempore magni ut minima fugit, vel suscipit quod totam labore voluptatibus animi obcaecati cum.</p>
                          </div>
                          <div class="feedback feedback-bordered"></div>
                        </div>
                      </div>
                      <!-- End comment-7 -->

                      <!-- Start Reply-to-7 -->
                      <div id="reply-to-7" class="reply-box" data-djcx-cid="7">
                        <div class="hline-l2"></div>
                        <div class="content">
                          <section class="reply-form" data-dci="reply-form">
                            <form id="reply-form-7" action="/comments/reply/7/">
                              <input type="hidden" name="reply_to" value="7">
                              <div class="col1-2">
                                <div class="inline-left">
                                  <button type="submit" class="btn-level-2 small" data-dci="reply-button">reply</button>
                                </div>
                              </div>
                            </form>
                          </section>
                        </div>
                      </div>
                      <!-- End Reply-to-7 -->
                    </div>
                  </div>

                  <!-- Start Reply-to-2 -->
                  <div id="reply-to-2" class="reply-box" data-djcx-cid="2">
                    <div class="hline-l1"></div>
                    <div class="content">
                      <section class="reply-form" data-dci="reply-form">
                        <form id="reply-form-2" action="/comments/reply/2/">
                          <input type="hidden" name="reply_to" value="2">
                          <div class="col1-2">
                            <div class="inline-left">
                              <button type="submit" class="btn-level-1 small" data-dci="reply-button">reply</button>
                            </div>
                          </div>
                        </form>
                      </section>
                    </div>
                  </div>
                  <!-- End Reply-to-2 -->
                </div><!-- thread-group -->
              </div><!-- cmthread--l1 #ct-2 -->

              <div id="ct-8" class="cmthread cmthread--narrow cmthread--l1">
                <span class="vline"></span>
                <div class="thread-group"><!-- level 1 -->
                  <!-- Start comment-8 (level 1) -->
                  <div id="comment-8" class="comment-box" data-djcx-cid="8">
                    <div class="comment comment--in-thread">
                      <div class="header">
                        <div>
                          Zeynep Wardle ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/8/#comment-8">¶</a>
                        </div>
                        <div id="cm-flags-8">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="8" href="/comments/flag/8/?#comment-8">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                      <div class="body body-bordered">
                        <p>Molestiae tempore accusamus ipsa aperiam perferendis voluptatem modi excepturi, deserunt magnam voluptatum molestias tempore dolorem aut maxime quia.</p>
                      </div>
                      <div class="feedback feedback-bordered"></div>
                    </div>
                  </div>
                  <!-- End comment-8 -->

                  <!-- Start Reply-to-8 -->
                  <div id="reply-to-8" class="reply-box" data-djcx-cid="8">
                    <div class="hline-l1"></div>
                    <div class="content">
                      <section class="reply-form" data-dci="reply-form">
                        <form id="reply-form-8" action="/comments/reply/8/">
                          <input type="hidden" name="reply_to" value="8">
                          <div class="col1-2">
                            <div class="inline-left">
                              <button type="submit" class="btn-level-1 small" data-dci="reply-button">reply</button>
                            </div>
                          </div>
                        </form>
                      </section>
                    </div>
                  </div>
                  <!-- End Reply-to-8 -->
                </div>
              </div>

              <div id="ct-9" class="cmthread cmthread--narrow cmthread--l1">
                <span class="vline"></span>
                <div class="thread-group"><!-- level 1 -->
                  <!-- Start comment-9 (level 1) -->
                  <div id="comment-9" class="comment-box" data-djcx-cid="9">
                    <div class="comment comment--in-thread">
                      <div class="header">
                        <div>
                          Marius Bate ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/9/#comment-9">¶</a>
                        </div>
                        <div id="cm-flags-9">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="9" href="/comments/flag/9/?#comment-9">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                      <div class="body body-bordered">
                        <p>Officiis amet odio saepe nulla labore quibusdam, libero dolorum explicabo quis?</p>
                      </div>
                      <div class="feedback feedback-bordered"></div>
                    </div>
                  </div>
                  <!-- End comment-9 -->

                  <!-- Start Reply-to-9 -->
                  <div id="reply-to-9" class="reply-box" data-djcx-cid="9">
                    <div class="hline-l1"></div>
                    <div class="content">
                      <section class="reply-form" data-dci="reply-form">
                        <form id="reply-form-9" action="/comments/reply/9/">
                          <input type="hidden" name="reply_to" value="9">
                          <div class="col1-2">
                            <div class="inline-left">
                              <button type="submit" class="btn-level-1 small" data-dci="reply-button">reply</button>
                            </div>
                          </div>
                        </form>
                      </section>
                    </div>
                  </div>
                  <!-- End Reply-to-9 -->
                </div>
              </div>

              <!-- Start Reply-to-1 -->
              <div id="reply-to-1" class="reply-box" data-djcx-cid="1">
                <div class="hline-l0"></div>
                <div class="content">
                  <section class="reply-form" data-dci="reply-form">
                    <form id="reply-form-1" action="/comments/reply/1/">
                      <input type="hidden" name="reply_to" value="1">
                      <div class="col1-2">
                        <div class="inline-left">
                          <button type="submit" class="btn-level-0 small" data-dci="reply-button">reply</button>
                        </div>
                      </div>
                    </form>
                  </section>
                </div>
              </div>
              <!-- End Reply-to-1 -->
            </div><!-- thread-group -->
          </div><!-- cmthread--l0 #ct-1 -->

          <div id="ct-10" class="cmthread cmthread--narrow cmthread--l0">
            <a href="#" class="vline"></a>
            <div class="thread-group">
              <!-- Start comment-10 (level 0) -->
              <div id="comment-10" class="comment-box" data-djcx-cid="10">
                <div class="comment comment--in-thread">
                  <div class="header">
                    <div>
                      Jobe Castillo ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/10/#comment-10">¶</a>
                    </div>
                    <div id="cm-flags-10">
                      <div class="tip-container">
                        <a data-dci-action="flag" data-comment="10" href="/comments/flag/10/?#comment-10">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                      </div>
                    </div>
                  </div>
                  <div class="body body-bordered">
                    <p>Eligendi iste tenetur reiciendis nobis molestiae, ipsam voluptatum quas, reprehenderit officia iure enim nobis aliquam debitis obcaecati facilis minima quo adipisci, est reprehenderit laudantium.</p>
                  </div>
                  <div id="cm-feedback-10" class="feedback feedback-bordered">
                    <div class="inline-block">
                      <a href="#" class="cfold" data-djcx-cthread-id="10">
                        <span id="comment-10-replies" data-djcx="nreplies" class="small">9 replies</span>&nbsp;<span class="rotate180">▽</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End comment-10 (level 0) -->

              <div id="ct-11" class="cmthread cmthread--narrow cmthread--l1">
                <a href="#" class="vline"></a>
                <div class="thread-group">
                  <!-- Start comment-11 (level 1) -->
                  <div id="comment-11" class="comment-box" data-djcx-cid="11">
                    <div class="comment comment--in-thread">
                      <div class="header">
                        <div>
                          Herman Merrill ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/11/#comment-11">¶</a>
                        </div>
                        <div id="cm-flags-11">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="11" href="/comments/flag/11/?#comment-11">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                      <div class="body body-bordered">
                        <p>Assumenda temporibus et maxime tempora ducimus voluptate perferendis ipsum quis quaerat debitis, at delectus ut, et magnam quaerat voluptas laboriosam sint pariatur.</p>
                      </div>
                      <div id="cm-feedback-11" class="feedback feedback-bordered">
                        <div class="inline-block">
                          <a href="#" class="cfold" data-djcx-cthread-id="11">
                            <span id="comment-11-replies" data-djcx="nreplies" class="small">3 replies</span>&nbsp;<span class="rotate180">▽</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End comment-11 (level 1) -->

                  <div id="ct-12" class="cmthread cmthread--narrow cmthread--l2">
                    <span class="vline"></span>
                    <div class="thread-group">
                      <!-- End comment-12 (level 2) -->
                      <div id="comment-12" class="comment-box" data-djcx-cid="12">
                        <div class="comment comment--in-thread">
                          <div class="header">
                            <div>
                              Josephine Salazar ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span>
                              <a class="permalink" title="comment permalink" href="/comments/cr/19/1/12/#comment-12">¶</a>
                            </div>
                            <div id="cm-flags-12">
                              <div class="tip-container">
                                <a data-dci-action="flag" data-comment="12" href="/comments/flag/12/?cpage=2#comment-12">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                              </div>
                            </div>
                          </div>
                          <div class="body body-bordered">
                            <p>Praesentium quas quasi dolores tempore voluptatibus, libero laudantium quidem repudiandae, illo magnam dolorum et commodi eum itaque asperiores obcaecati dolorem iste, aspernatur ut soluta repudiandae necessitatibus fugit sapiente explicabo nulla, adipisci laborum accusantium autem excepturi ipsam.</p>
                          </div>
                          <div class="feedback feedback-bordered"></div>
                        </div>
                      </div>
                      <!-- End Comment-12 (level 2) -->

                      <!-- Start Reply-to-12 -->
                      <div id="reply-to-12" class="reply-box" data-djcx-cid="12">
                        <div class="hline-l2"></div>
                        <div class="content">
                          <section class="reply-form" data-dci="reply-form">
                            <form id="reply-form-12" action="/comments/reply/12/">
                              <input type="hidden" name="reply_to" value="12">
                              <div class="col1-2">
                                <div class="inline-left">
                                  <button type="submit" class="btn-level-2 small" data-dci="reply-button">reply</button>
                                </div>
                              </div>
                            </form>
                          </section>
                        </div>
                      </div>
                      <!-- End Reply-to-12 -->
                    </div>
                  </div>

                  <div id="ct-13" class="cmthread cmthread--narrow cmthread--l2">
                    <span class="vline"></span>
                    <div class="thread-group">
                      <!-- End comment-13 (level 2) -->
                      <div id="comment-13" class="comment-box" data-djcx-cid="13">
                        <div class="comment comment--in-thread">
                          <div class="header">
                            <div>
                              Melvin Mackenzie ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span>
                              <a class="permalink" title="comment permalink" href="/comments/cr/19/1/13/#comment-13">¶</a>
                            </div>
                            <div id="cm-flags-13">
                              <div class="tip-container">
                                <a data-dci-action="flag" data-comment="13" href="/comments/flag/13/?cpage=2#comment-13">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                              </div>
                            </div>
                          </div>
                          <div class="body body-bordered">
                            <p>Voluptatum veritatis minima nostrum aspernatur id sit optio nihil, magni quibusdam totam sit voluptatem ad accusamus sint dolor doloribus minima quidem, officia voluptatum doloremque laudantium impedit facere modi, atque nam sequi nostrum ipsam rem ut?</p>
                          </div>
                          <div class="feedback feedback-bordered"></div>
                        </div>
                      </div>
                      <!-- End Comment-13 (level 2) -->

                      <!-- Start Reply-to-13 -->
                      <div id="reply-to-13" class="reply-box" data-djcx-cid="13">
                        <div class="hline-l2"></div>
                        <div class="content">
                          <section class="reply-form" data-dci="reply-form">
                            <form id="reply-form-13" action="/comments/reply/13/">
                              <input type="hidden" name="reply_to" value="13">
                              <div class="col1-2">
                                <div class="inline-left">
                                  <button type="submit" class="btn-level-2 small" data-dci="reply-button">reply</button>
                                </div>
                              </div>
                            </form>
                          </section>
                        </div>
                      </div>
                      <!-- End Reply-to-13 -->
                    </div>
                  </div>

                  <div id="ct-14" class="cmthread cmthread--narrow cmthread--l2">
                    <span class="vline"></span>
                    <div class="thread-group">
                      <!-- End comment-14 (level 2) -->
                      <div id="comment-14" class="comment-box" data-djcx-cid="14">
                        <div class="comment comment--in-thread">
                          <div class="header">
                            <div>
                              Benedict Neal ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span>
                              <a class="permalink" title="comment permalink" href="/comments/cr/19/1/14/#comment-14">¶</a>
                            </div>
                            <div id="cm-flags-14">
                              <div class="tip-container">
                                <a data-dci-action="flag" data-comment="14" href="/comments/flag/14/?cpage=2#comment-14">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                              </div>
                            </div>
                          </div>
                          <div class="body body-bordered">
                            <p>Corporis fuga quas iure, laborum iusto corporis voluptatum, exercitationem quo iure alias autem consectetur rerum suscipit sint?</p>
                          </div>
                          <div class="feedback feedback-bordered"></div>
                        </div>
                      </div>
                      <!-- End Comment-14 (level 2) -->

                      <!-- Start Reply-to-14 -->
                      <div id="reply-to-14" class="reply-box" data-djcx-cid="14">
                        <div class="hline-l2"></div>
                        <div class="content">
                          <section class="reply-form" data-dci="reply-form">
                            <form id="reply-form-14" action="/comments/reply/14/">
                              <input type="hidden" name="reply_to" value="14">
                              <div class="col1-2">
                                <div class="inline-left">
                                  <button type="submit" class="btn-level-2 small" data-dci="reply-button">reply</button>
                                </div>
                              </div>
                            </form>
                          </section>
                        </div>
                      </div>
                      <!-- End Reply-to-14 -->
                    </div>
                  </div>

                  <!-- Start Reply-to-11 -->
                  <div id="reply-to-11" class="reply-box" data-djcx-cid="11">
                    <div class="hline-l1"></div>
                    <div class="content">
                      <section class="reply-form" data-dci="reply-form">
                        <form id="reply-form-11" action="/comments/reply/11/">
                          <input type="hidden" name="reply_to" value="11">
                          <div class="col1-2">
                            <div class="inline-left">
                              <button type="submit" class="btn-level-1 small" data-dci="reply-button">reply</button>
                            </div>
                          </div>
                        </form>
                      </section>
                    </div>
                  </div>
                  <!-- End Reply-to-11 -->
                </div>
              </div>

              <div id="ct-15" class="cmthread cmthread--narrow cmthread--l1">
                <span class="vline"></span>
                <div class="thread-group">
                  <!-- Start comment-15 (level 1) -->
                  <div id="comment-15" class="comment-box" data-djcx-cid="15">
                    <div class="comment comment--in-thread">
                      <div class="header">
                        <div>
                          Rocco Talbot ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/15/#comment-15">¶</a>
                        </div>
                        <div id="cm-flags-15">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="15" href="/comments/flag/15/?#comment-15">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                      <div class="body body-bordered">
                        <p>Doloribus ut omnis enim, ducimus officia distinctio eos ea quas ad doloribus minus quam, nesciunt atque deserunt quod laudantium.</p>
                      </div>
                      <div class="feedback feedback-bordered"></div>
                    </div>
                  </div>
                  <!-- End comment-5 (level 1) -->

                  <!-- Start Reply-to-15 -->
                  <div id="reply-to-15" class="reply-box" data-djcx-cid="15">
                    <div class="hline-l1"></div>
                    <div class="content">
                      <section class="reply-form" data-dci="reply-form">
                        <form id="reply-form-15" action="/comments/reply/15/">
                          <input type="hidden" name="reply_to" value="15">
                          <div class="col1-2">
                            <div class="inline-left">
                              <button type="submit" class="btn-level-1 small" data-dci="reply-button">reply</button>
                            </div>
                          </div>
                        </form>
                      </section>
                    </div>
                  </div>
                  <!-- End Reply-to-15 -->
                </div>
              </div>

              <div id="ct-16" class="cmthread cmthread--narrow cmthread--l1">
                <a href="#" class="vline"></a>
                <div class="thread-group">
                  <!-- Start comment-16 (level 1) -->
                  <div id="comment-16" class="comment-box" data-djcx-cid="16">
                    <div class="comment comment--in-thread">
                      <div class="header">
                        <div>
                          Jules Lawson ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/16/#comment-16">¶</a>
                        </div>
                        <div id="cm-flags-16">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="16" href="/comments/flag/16/?#comment-16">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                      <div class="body body-bordered">
                        <p>Corporis illum eius officiis veniam saepe laboriosam magni voluptas ut, qui saepe itaque quia recusandae nobis modi sequi.</p>
                      </div>
                      <div id="cm-feedback-16" class="feedback feedback-bordered">
                        <div class="inline-block">
                          <a href="#" class="cfold" data-djcx-cthread-id="16">
                            <span id="comment-11-replies" data-djcx="nreplies" class="small">2 replies</span>&nbsp;<span class="rotate180">▽</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End comment-16 (level 1) -->

                  <div id="ct-17" class="cmthread cmthread--narrow cmthread--l2">
                    <span class="vline"></span>
                    <div class="thread-group">
                      <!-- End comment-17 (level 2) -->
                      <div id="comment-17" class="comment-box" data-djcx-cid="17">
                        <div class="comment comment--in-thread">
                          <div class="header">
                            <div>
                              Rocco Talbot ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span>
                              <a class="permalink" title="comment permalink" href="/comments/cr/19/1/17/#comment-17">¶</a>
                            </div>
                            <div id="cm-flags-17">
                              <div class="tip-container">
                                <a data-dci-action="flag" data-comment="17" href="/comments/flag/17/?cpage=2#comment-17">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                              </div>
                            </div>
                          </div>
                          <div class="body body-bordered">
                            <p>Placeat autem ipsa laboriosam, consectetur alias neque expedita distinctio tempore, error unde nam maiores reiciendis voluptatum sapiente expedita exercitationem non odio, fuga modi iste rem nemo hic saepe odio, nihil repellendus provident corporis.</p>
                          </div>
                          <div class="feedback feedback-bordered"></div>
                        </div>
                      </div>
                      <!-- End Comment-17 (level 2) -->

                      <!-- Start Reply-to-17 -->
                      <div id="reply-to-17" class="reply-box" data-djcx-cid="17">
                        <div class="hline-l2"></div>
                        <div class="content">
                          <section class="reply-form" data-dci="reply-form">
                            <form id="reply-form-17" action="/comments/reply/17/">
                              <input type="hidden" name="reply_to" value="17">
                              <div class="col1-2">
                                <div class="inline-left">
                                  <button type="submit" class="btn-level-2 small" data-dci="reply-button">reply</button>
                                </div>
                              </div>
                            </form>
                          </section>
                        </div>
                      </div>
                      <!-- End Reply-to-17 -->
                    </div>
                  </div>

                  <div id="ct-18" class="cmthread cmthread--narrow cmthread--l2">
                    <span class="vline"></span>
                    <div class="thread-group">
                      <!-- End comment-18 (level 2) -->
                      <div id="comment-18" class="comment-box" data-djcx-cid="18">
                        <div class="comment comment--in-thread">
                          <div class="header">
                            <div>
                              Andreas Palmer ⋅ <span class="muted">Sept. 1, 2025, 8 p.m.</span>
                              <a class="permalink" title="comment permalink" href="/comments/cr/19/1/18/#comment-18">¶</a>
                            </div>
                            <div id="cm-flags-18">
                              <div class="tip-container">
                                <a data-dci-action="flag" data-comment="18" href="/comments/flag/18/?cpage=2#comment-18">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                              </div>
                            </div>
                          </div>
                          <div class="body body-bordered">
                            <p>Quibusdam mollitia quidem soluta ab quia dicta fugiat eaque, reiciendis eum corrupti labore quae cupiditate, nemo odio facere illum in adipisci minus necessitatibus.</p>
                          </div>
                          <div class="feedback feedback-bordered"></div>
                        </div>
                      </div>
                      <!-- End Comment-18 (level 2) -->

                      <!-- Start Reply-to-18 -->
                      <div id="reply-to-18" class="reply-box" data-djcx-cid="18">
                        <div class="hline-l2"></div>
                        <div class="content">
                          <section class="reply-form" data-dci="reply-form">
                            <form id="reply-form-18" action="/comments/reply/18/">
                              <input type="hidden" name="reply_to" value="18">
                              <div class="col1-2">
                                <div class="inline-left">
                                  <button type="submit" class="btn-level-2 small" data-dci="reply-button">reply</button>
                                </div>
                              </div>
                            </form>
                          </section>
                        </div>
                      </div>
                      <!-- End Reply-to-18 -->
                    </div>
                  </div>

                  <!-- Start Reply-to-16 -->
                  <div id="reply-to-16" class="reply-box" data-djcx-cid="16">
                    <div class="hline-l1"></div>
                    <div class="content">
                      <section class="reply-form" data-dci="reply-form">
                        <form id="reply-form-16" action="/comments/reply/16/">
                          <input type="hidden" name="reply_to" value="16">
                          <div class="col1-2">
                            <div class="inline-left">
                              <button type="submit" class="btn-level-1 small" data-dci="reply-button">reply</button>
                            </div>
                          </div>
                        </form>
                      </section>
                    </div>
                  </div>
                  <!-- End Reply-to-16 -->
                </div>
              </div>

              <!-- Start Reply-to-10 -->
              <div id="reply-to-10" class="reply-box" data-djcx-cid="10">
                <div class="hline-l0"></div>
                <div class="content">
                  <section class="reply-form" data-dci="reply-form">
                    <form id="reply-form-10" action="/comments/reply/10/">
                      <input type="hidden" name="reply_to" value="10">
                      <div class="col1-2">
                        <div class="inline-left">
                          <button type="submit" class="btn-level-0 small" data-dci="reply-button">reply</button>
                        </div>
                      </div>
                    </form>
                  </section>
                </div>
              </div>
              <!-- End Reply-to-10 -->
            </div><!-- thread-group -->
          </div><!-- cmthread--l0 #ct-10 -->

        </div>
      </div>

      <div class="djcx dark">
        <section class="comment-form">
          <h5 class="mb-0 text-center">{% translate "Post your comment" %}</h5>
          {% render_xtdcomment_form for object %}
        </section>
      </div>

    </div>
  </article>
</main>
{% endblock content %}
