{% extends "base_dark.html" %}
{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;{{ title }}{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'django_comments_xtd/css/djcx-styles.css' %}">
{% endblock %}

{% block content %}
<main>
  <article>
    <h2 class="text-center">Comments level 0-1, feedback off</h2>
    <div class="text-center monospace">feedback_in_header theme</div>
    <h6 class="text-center small">{% now "F j, Y" %}</h6>
    <div class="central-column">
      <div style="margin-bottom: 48px">
        <ol>
          <li>This page contains some CSS declarations in a <code>&lt;style&gt;</code> element, in the <code>base.html</code> template.</li>
          <li>It is minimally styled to show how the comment box will look like when including only django-comments-xtd styles.</li>
          <li>The <code>extra_css</code> block in the template only includes the css file corresponding to  <code>django-comments-xtd/css/comments.css</code>. So only the <code>div.comments</code> is styled.</li>
        </ol>
      </div>

      <h3 class="text-center">There are 7 comments</h3>

      <div class="djcx dark">
        <div class="comment-list" data-djcx="config">

          <div id="ct-1" class="cmthread cmthread--narrow cmthread--l0">
            <a href="#" class="vline"></a>
            <div class="thread-group">
              <!-- Start comment-1 (level 0) -->
              <div id="comment-1" class="comment-box" data-djcx-cid="1">
                <div class="comment comment--in-thread">
                  <div class="header flex-align-center">
                    <div>
                      Lena Rosenthal ⋅ <span class="muted smaller">Jan. 7, 2025, 1:04 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/1/#comment-1">¶</a>
                    </div>
                    <div class="feedback">
                      <div id="cm-flags-1">
                        <div class="tip-container">
                          <a data-dci-action="flag" data-comment="1" href="/comments/flag/1/?#comment-1">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at viverra turpis. Quisque a dui ut felis varius semper eget non nunc. Vivamus fermentum pellentesque turpis, vel lacinia mi ullamcorper nec.</p>
                  </div>
                </div>
              </div>
              <!-- End comment-1 -->

              <div class="cmthread cmthread--narrow cmthread--end">
                <!-- Start comment-2 (level 1) -->
                <div id="comment-2" class="comment-box" data-djcx-cid="2">
                  <div class="comment comment--in-thread">
                    <div class="header flex-align-center">
                      <div>
                        Isabel Azul ⋅ <span class="muted smaller">Jan. 7, 2022, 5:20 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/2/#comment-2">¶</a>
                      </div>
                      <div class="feedback">
                        <div id="cm-flags-2">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="2" href="/comments/flag/2/?#comment-2">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>Pellentesque eu porttitor metus. Curabitur ullamcorper eu erat quis condimentum. Curabitur ut dapibus turpis, eget bibendum leo.</p>
                    </div>
                  </div>
                </div>
                <!-- End comment-2 (level 1) -->
              </div>

              <!-- Start Reply-to-1 -->
              <div id="reply-to-1" class="reply-box" data-djcx-cid="1">
                <div class="hline-l0"></div>
                <div class="content">
                  <section class="reply-form" data-dci="reply-form">
                    <form id="reply-form-12" action="/comments/reply/1/">
                      <input type="hidden" name="reply_to" value="1">
                      <div class="col1-2">
                        <div class="inline-left">
                          <button type="submit" class="btn-level-0 small" data-dci="reply-button">reply</button>
                        </div>
                      </div>
                    </form>
                  </section>
                </div>
              </div>
              <!-- End Reply-to-1 -->
            </div>
          </div>

          <div id="ct-3" class="cmthread cmthread--narrow cmthread--l0">
            <!-- no nested comments, so .vline element is a span
              -- instead of an anchor.
              -->
            <span class="vline"></span>
            <div class="thread-group">
              <!-- Start comment-3 (level 0) -->
              <div id="comment-3" class="comment-box" data-djcx-cid="3">
                <div class="comment comment--in-thread">
                  <div class="header flex-align-center">
                    <div>
                      Amalia Ocean ⋅ <span class="muted smaller">Jan. 7, 2025, 5:20 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/3/#comment-3">¶</a>
                    </div>
                    <div class="feedback">
                      <div id="cm-flags-3">
                        <div class="tip-container">
                          <a data-dci-action="flag" data-comment="3" href="/comments/flag/3/?#comment-3">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="body">
                    <p>Donec non ipsum eu ipsum pulvinar condimentum. Curabitur vulputate dolor eget leo cursus tempor. Nullam iaculis est non nulla ornare pharetra. In molestie leo quis leo venenatis, eget aliquet nisi sollicitudin. Fusce turpis sem, porttitor ut nunc ac, facilisis facilisis leo.</p>
                  </div>
                </div>
              </div>
              <!-- End comment-3 (level 0) -->

              <!-- Start Reply-to-3 -->
              <div id="reply-to-3" class="reply-box" data-djcx-cid="3">
                <div class="hline-l0"></div>
                <div class="content">
                  <section class="reply-form" data-dci="reply-form">
                    <form id="reply-form-3" action="/comments/reply/3/">
                      <input type="hidden" name="reply_to" value="3">
                      <div class="col1-2">
                        <div class="inline-left">
                          <button type="submit" class="btn-level-0 small" data-dci="reply-button">reply</button>
                        </div>
                      </div>
                    </form>
                  </section>
                </div>
              </div>
              <!-- End Reply-to-3 -->
            </div>
          </div>

          <div id="ct-4" class="cmthread cmthread--narrow cmthread--l0">
            <a href="#" class="vline"></a>
            <div class="thread-group">
              <!-- Start comment-4 (level 0) -->
              <div id="comment-4" class="comment-box" data-djcx-cid="4">
                <div class="comment comment--in-thread">
                  <div class="header flex-align-center">
                    <div>
                      Isabel Azul ⋅ <span class="muted smaller">Jan. 8, 2025, 1:15 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/4/#comment-4">¶</a>
                    </div>
                    <div class="feedback">
                      <div id="cm-flags-4">
                        <div class="tip-container">
                          <a data-dci-action="flag" data-comment="3" href="/comments/flag/4/?#comment-4">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="body">
                    <p>Nunc sodales facilisis blandit. Aliquam fermentum eu lorem in egestas. Nunc porttitor dignissim mi et cursus. Etiam nec metus cursus, luctus nisl id, elementum lectus.</p>
                  </div>
                </div>
              </div>
              <!-- End comment-4 (level 0) -->

              <div class="cmthread cmthread--narrow cmthread--end">
                <!-- Start comment-5 (level 1) -->
                <div id="comment-5" class="comment-box"  data-djcx-cid="5">
                  <div class="comment comment--in-thread">
                    <div class="header flex-align-center">
                      <div>
                        Amalia Ocean ⋅ <span class="muted smaller">Jan. 8, 2025, 3:33 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/5/#comment-5">¶</a>
                      </div>
                      <div class="feedback">
                        <div id="cm-flags-5">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="5" href="/comments/flag/5/?#comment-5">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>Morbi tempus sem a dapibus fringilla.</p>
                    </div>

                  </div>
                </div>
                <!-- End comment-5 (level 1) -->

                <!-- Start comment-6 (level 1) -->
                <div id="comment-6" class="comment-box" data-djcx-cid="6">
                  <div class="comment comment--in-thread">
                    <div class="header flex-align-center">
                      <div>
                        David Fields ⋅ <span class="muted smaller">Jan. 8, 2025, 3:59 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/6/#comment-6">¶</a>
                      </div>
                      <div class="feedback">
                        <div id="cm-flags-6">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="6" href="/comments/flag/6/?#comment-6">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>Cras eleifend in libero at aliquam. Proin viverra pellentesque quam, non condimentum nulla viverra eget.</p>
                    </div>
                  </div>
                </div>
                <!-- End comment-6 (level 1) -->

                <!-- Start comment-7 (level 1) -->
                <div id="comment-7" class="comment-box" data-djcx-cid="7">
                  <div class="comment comment--in-thread">
                    <div class="header flex-align-center">
                      <div>
                        Demi-Leigh Turnbull ⋅ <span class="muted smaller">Jan. 8, 2025, 4:27 p.m.</span> <a class="permalink" title="comment permalink" href="/comments/cr/19/1/7/#comment-7">¶</a>
                      </div>
                      <div class="feedback">
                        <div id="cm-flags-7">
                          <div class="tip-container">
                            <a data-dci-action="flag" data-comment="6" href="/comments/flag/7/?#comment-7">&#9872;</a><div class="tooltip">Flag this comment as inappropriate</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="body">
                      <p>Fusce non urna convallis, ultricies lectus id, ultricies arcu. Pellentesque suscipit porttitor elit. Suspendisse potenti. Sed vehicula ornare nibh, nec malesuada ligula pharetra consectetur.</p>
                    </div>
                  </div>
                </div>
                <!-- End comment-7 (level 1) -->
              </div>

              <!-- Start Reply-to-4 -->
              <div id="reply-to-4" class="reply-box" data-djcx-cid="4">
                <div class="hline-l0"></div>
                <div class="content">
                  <section class="reply-form" data-dci="reply-form">
                    <form id="reply-form-4" action="/comments/reply/4/">
                      <input type="hidden" name="reply_to" value="4">
                      <div class="col1-2">
                        <div class="inline-left">
                          <button type="submit" class="btn-level-0 small" data-dci="reply-button">reply</button>
                        </div>
                      </div>
                    </form>
                  </section>
                </div>
              </div>
              <!-- End Reply-to-4 -->
            </div>
          </div>
        </div>
      </div>

      <div class="djcx dark">
        <section class="comment-form">
          <h5 class="mb-0 text-center">{% translate "Post your comment" %}</h5>
          {% render_xtdcomment_form for object %}
        </section>
      </div>

    </div>
  </article>
</main>
{% endblock content %}
