{% load i18n %}
{% load static %}
{% load dcx_demo_tags %}

{% get_available_languages as LANGUAGES %}
{% get_current_language as current_language %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <title>{% block title %}dcx-demo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel="preconnect" href="https://fonts.googleapis.com"-->
    <!--link rel="preconnect" href="https://fonts.gstatic.com" crossorigin-->
    <!--link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet"-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/stylesheet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dropdown.css' %}">

    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="container">
        <div class="title">
          <h1><a href="{% url 'homepage' %}">stories project</a></h1>
          <h4>with django-comments-xtd</h4>
        </div>
        <nav class="menu">
          {% if user.is_authenticated %}
            {% if user.is_staff %}
              <a href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            <a class="{% block nav-account-class %}{% endblock %}" href="{% url 'account' %}">Account</a>
          {% else %}
            <a class="{% block nav-login-class %}{% endblock %}" href="{% url 'login' %}">Login</a>
          {% endif %}
          <a class="{% block nav-stories-class %}{% endblock %}" href="{% url 'stories' %}">Stories</a>
          {% if 'rosetta' in settings.INSTALLED_APPS %}
            <form id="langform" hidden>
              {% csrf_token %}<input type="text" id="language" name="language" /><input type="text" name="next" />
            </form>
            <div class="dropdown" id="language-dropdown">
              <select id="language-selector">
                {% for language in LANGUAGES %}
                  {% ifnotequal current_language language.0 %}
                    <option value="{{ language.0 }}">{{ language.0|language_tuple }}</option>
                  {% else %}
                    <option value="{{ language.0 }}" selected>{{ language.0|language_name }}</option>
                  {% endifnotequal %}
                {% endfor %}
              </select>
            </div>
          {% endif %}
        </nav>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      <div class="container">
        <p>
          <a href="http://readthedocs.org/docs/django-comments-xtd/">{% translate "documentation" %}</a>
          &nbsp;&bull;&nbsp;
          <a href="https://github.com/danirus/django-comments-xtd">source code</a>
          &nbsp;&bull;&nbsp;
          <a href="https://github.com/danirus/django-comments-xtd/issues">issues</a>
          &nbsp;&bull;&nbsp;
          <a href="https://github.com/danirus/django-comments-xtd/discussions">discussions</a>
        </p>
        <p>django-comments-xtd</p>
      </div>
    </footer>

    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'dropdown.js' %}"></script>
    <script src="{% static 'init_language_dropdown.js' %}"></script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
