:root,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  background-color: var(--body-background-color);
  color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  color: var(--headings-color);
}

h1 {
  font-size: 1.8rem;
  margin: 1.5rem 0
}

h2 {
  font-size: 1.6rem;
  margin: 1.4rem 0
}

h3 {
  font-size: 1.4rem;
  margin: 1.3rem 0
}

h4 {
  font-size: 1.3rem;
  margin: 1.2rem 0
}

h5 {
  font-size: 1.2rem;
  margin: 1.1rem 0
}

h6 {
  font-size: 1.1rem;
  margin: 1rem 0
}

li h1,
li h2,
li h3,
li h4,
li h5,
li h6 {
  margin: 0.5rem;
  font-weight: 400;
}

li+li {
  margin-top: 0.3em;
}

nav>a {
  border-radius: var(--border-radius);
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.4;
  font-size: .8rem;
  font-weight: 400;
  color: var(--nav-link-color);
}

nav>a+a {
  margin-left: .2rem;
}

label {
  margin: auto 0;
  text-align: right;
  font-size: var(--form-font-size);
}

input,
select,
textarea {
  font-family: var(--body-font-family);
  font-size: var(--form-font-size);
  border: 1px solid rgba(0, 0, 0, 20%);
  border-radius: var(--border-radius);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 7.5%);
  color: var(--input-color);
  background-color: var(--input-background-color);
}

textarea {
  width: 100%;
  padding: 8px 12px;
}


select,
input[type="url"],
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: .3rem .5rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
  color: var(--input-color-focus);
  background-color: var(--input-background-color-focus);
  border: 1px solid var(--input-border-color-focus);
  box-shadow: 0 0 0 .2rem rgba(33, 150, 243, 25%);
}

input:is(:-webkit-autofill, :autofill),
select:is(:-webkit-autofill, :autofill),
textarea:is(:-webkit-autofill, :autofill) {
  outline: 0;
  color: var(--input-color-autofill);
  background-color: var(--input-background-color-autofill) !important;
  border: 1px solid var(--input-border-color-autofill) !important;
  box-shadow: 0 0 0 .2rem rgba(243, 151, 33, 25%) !important;
}

input.error,
textarea.error,
.error>input,
.error>textarea {
  border-color: var(--input-error-border-color);
  box-shadow: inset 0 2px 0 rgba(245, 153, 156, 20%);
}

input.error:focus,
textarea.error:focus,
.error>input:focus,
.error>textarea:focus {
  border: 1px solid var(--input-error-border-color);
  box-shadow: 0 0 0 .2rem rgba(247, 37, 42, 25%);
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--radio-accent-color);
}

ul li {
  margin: 16px 0;
  line-height: 1.5rem;
}

a > * {
  /* Nothing within the anchor elements should have pointer events,
    * so that when clicking in a SVG button, the click doesn't land
    * in the SVG, the USE, PATHs, etc, but in the A itself.
    */
  pointer-events: none;
}

strong {
  font-weight: 700;
}

code {
  font-family: var(--font-monospace);
}
