a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

.title h1 a {
  text-decoration: none;
}

.intro {
  width: 100%;
  padding: 2em 1em;
  line-height: 1.5em;
  color: var(--intro-color);
}

@media screen and (width < 375px) {
  .intro {
    padding: 2em 0;
  }
}

.intro .container {
  flex-direction: column;
}

/* --------------------------------------------- */
main {
  flex: 1 0 auto;
  margin: 0 1em;
  padding: 0;
}

main p {
  line-height: 1.5em;
}


main>article {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  margin: 32px 0 0;
  padding: 8px 0;
  font-size: 0.9rem;
  text-align: center;
}

footer p {
  margin: 0.5rem auto;
  text-align: center;
  color: gray;
}

.subtitle {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: 400;
}

.column p {
  margin: 8px 0 24px;
  line-height: 1.5em;
  color: var(--body-color);
}

.column p.box {
  padding: 16px;
  border: 1px solid #44b78b;
  border-bottom-width: 2px;
  border-radius: 16px;
}

.row {
  width: 100%;
  margin-left: -.75em;
  margin-right: -.75em;
}

.flex-row {
  display: flex;
}

.column {
  flex: 1;
  margin-right: 0.75em;
  margin-left: 0.75em;
}

.marquee {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  background-color: var(--marquee-background-color);
  padding: 1rem;
}

.marquee > div {
  display: flex;
  flex-direction: column;
}

.alert, .message {
  margin: 1rem 0;
  padding: 8px 16px;
  border-radius: 4px;
}

.message li {
  margin: 0;
  list-style: none;
}

.alert-info,
.message-info {
  background-color: var(--alert-background-color);
  border: 1px solid var(--alert-border-color-info);
}

.alert-success,
.message-success {
  background-color: var(--alert-background-color);
  border: 1px solid var(--alert-border-color-success);
}

.alert-warning,
.message-warning {
  background-color: var(--alert-background-color);
  border: 1px solid var(--alert-border-color-warning);
}

.alert-error,
.message-error {
  background-color: var(--alert-background-color);
  border: 1px solid var(--alert-border-color-error);
}

blockquote.quote {
  margin: 1rem 1.5rem;
  padding: 12px 24px;
  border-left: 5px solid var(--blockquote-border-color);
  font-size: 1.1em;
  line-height: 1.5;
}

@media screen and (width < 839px) {
  blockquote.quote {
    margin: 1rem 0;
  }
}

/* ------- nav ------- */

nav>a:hover {
  color: var(--nav-link-color-hover);
  background-color: var(--nav-link-background-color-hover);
  text-decoration: none;
}

nav>a.active {
    color: var(--nav-link-color-hover);
    background-color: var(--nav-link-background-color-active);
}

nav>a>.icon {
    margin-right: 4px;
}

nav>a>svg.icon {
    stroke: var(--link-color);
    stroke-width: 2px;
}

nav>a.active>svg.icon {
    stroke: white;
}

/* ------- buttons --------- */

button,
a.btn {
  border-style: solid;
  border-width: 0 1px 4px;
  border-radius: 0.25rem;
  padding: 0.4rem 1rem 0.3rem;
  font-size: 0.800rem;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  font-family: inherit;
}

button.small,
a.btn.small {
  padding: 0.2rem 0.8rem;
  font-size: 0.85rem;
}

button.disabled,
button:disabled,
a.btn.disabled {
  opacity: 0.65;
}

button:focus,
button.focus,
a.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 25%);
}

button:hover,
button:focus,
a.btn:hover,
a.btn:focus {
  text-decoration: none;
}

button:not(.disabled):hover,
a.btn:hover {
  margin-top: 1px;
  border-bottom-width: 3px;
}

button:not(.disabled):active,
a.btn:active {
  margin-top: 2px;
  border-bottom-width: 2px;
}


button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button.primary,
a.btn.primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background-color);
  border-color: var(--button-primary-border-color);
}

button.primary:hover,
a.btn.primary:hover {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background-color-hover);
  border-color: var(--button-primary-border-color-hover);;
}

button.primary:focus,
button.primary.focus,
a.btn.primary:focus {
  box-shadow: var(--djcx-button-primary-box-shadow-focus);
}

button.primary.disabled,
button.primary:disabled,
a.btn.primary.disabled {
  color: var(--djcx-button-primary-color-disabled);
  background-color: var(--djcx-button-primary-background-disabled);
  border-color: var(--djcx-button-primary-border-color-disabled);
}

button.primary:not(:disabled):not(.disabled):active,
button.primary:not(:disabled):not(.disabled).active {
  color: var(--djcx-button-primary-color-active);
  background-color: var(--djcx-button-primary-background-active);
  border-color: var(--djcx-button-primary-border-color-active);
}

button.primary:not(:disabled):not(.disabled):active:focus,
button.primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: var(--djcx-button-primary-box-shadow-focus);
}

button.secondary,
a.btn.secondary {
  color: var(--djcx-button-secondary-color);
  background-color: var(--djcx-button-secondary-background-color);
  border-color: var(--djcx-button-secondary-border-color);
}

button.secondary:hover,
a.btn.secondary:hover {
  color: var(--djcx-button-secondary-color-hover);
  background-color: var(--djcx-button-secondary-background-color-hover);
  border-color: var(--djcx-button-secondary-border-color-hover);
}

button.secondary:focus,
button.secondary.focus,
a.btn.secondary:focus {
  box-shadow: var(--djcx-button-secondary-box-shadow-focus);
}

button.secondary.disabled,
button.secondary:disabled,
a.btn.secondary.disabled {
  color: var(--djcx-button-secondary-color-disabled);
  background-color: var(--djcx-button-secondary-background-disabled);
  border-color: var(--djcx-button-secondary-border-color-disabled);
}

button.secondary:not(:disabled):not(.disabled):active,
button.secondary:not(:disabled):not(.disabled).active {
  color: var(--djcx-button-secondary-color-active);
  background-color: var(--djcx-button-secondary-background-active);
  border-color: var(--djcx-button-secondary-border-color-active);

  &:hover {
    border-color: var(--djcx-button-secondary-border-color-hover);
  }
}

button.secondary:not(:disabled):not(.disabled):active:focus,
button.secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: var(--djcx-button-secondary-box-shadow-focus);
}

.grid-form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.grid-form.ymargin {
  margin-top: 32px;
  margin-bottom: 16px
}

.grid-form.xmargin {
  margin-left: 16px;
  margin-right: 16px
}

.grid-form.bordered {
  border: 8px solid rgba(0, 0, 0, 10%);
  border-radius: 0.5rem;
}

.grid-form > h5 {
  margin-bottom: 0;
}

.grid-form > p {
  margin: 1.5rem 2.2rem 0.5rem;
}

.grid-form > p + p {
  margin-top: 0;
}

.grid-form form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  padding: 0 2rem;
}

.grid-form form.col-2fr3fr {
  grid-template-columns: 2fr 3fr;
}

.col1 {
  grid-column: 1/2;
}

.col2 {
  grid-column: 2/3;
  padding-right: 2.5rem;
}

@media screen and (width < 839px) {
  .col2 {
    padding-right: 0;
  }
}

.col1-2 {
  grid-column: 1/3
}

/* ------- avatar-list --------- */

.avatar-list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.avatar-list li {
  list-style-type: none;
  margin: 8px 16px 8px 0;
  padding: 1px;
  border: 3px solid #b6b6b6;
}

.avatar-list li.selected {
  border: 3px solid #0d8aee;
}

.avatar-list ul li label {
  display: flex;
}

.avatar-list input[type="radio"] {
  display: none;
}

/* ***************** */
/*  Utility classes  */

.inline-left {
  display: flex;
  justify-content: left;
}

.inline-centered {
  display: flex;
  justify-content: center;
}

.inline-left>*,
.inline-centered>* {
  display: inline-block;
}

.central-column {
  margin: 0 auto;
  max-width: 735px;
}

.wo-y-margins * {
  margin-top: 0;
  margin-bottom: 0;
}

.expand {
  justify-content: space-between;
}

.centered { margin: 0 auto }
.mw720 { max-width: 720px }
.fgrow { flex-grow: 1 }
.width-fit-content { width: fit-content }

.text-success { color: var(--alert-color-success); }
.text-info { color: var(--alert-color-info); }
.text-warning { color: var(--alert-color-warning); }
.text-error { color: var(--alert-color-error); }

.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw700 { font-weight: 700; }

.lh1 { line-height: 1; }

.monospace { font-family: "Red Hat Mono", 'Courier New', Courier, monospace }
.big { font-size: 1.2rem; }
.small { font-size: 0.85rem; }

.muted { color: rgb(162 162 162); }

.text-center { text-align: center; }
.text-right { text-align: right; }

.m-2 { /* before: m2 */
  margin: 1rem;
}

.mb-0 {  /* before: mb0 */
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: .5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ml-1 {  /* before: ml8 */
  margin-left: .5rem;
}

.ml-2 {  /* before: ml16 */
  margin-left: 1rem;
}

.ml-4 {  /* before: ml32 */
  margin-left: 2rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: .5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {  /* before: mt32 */
  margin-top: 2rem;
}

.pt-1 {  /* before: pt8 */
  padding-top: .5rem;
}

.pb-3 {  /* before: pb24 */
  padding-bottom: 1.5rem;
}

.pb-4 {  /* before: pb32 */
  padding-bottom: 2rem
}

.mx-0 {  /* before: mx0 */
  margin-left: 0;
  margin-right: 0;
}

.my-0 {  /* before: my0 */
  margin-top: 0;
  margin-bottom: 0;
}

.py-1 {  /* before: py06 */
  padding: .5rem 0;
}

.px-1 {
  padding: 0 .5rem;
}

.px-2 {  /* before: px1 */
  padding: 0 1rem;
}

.bt1 {
  border-top: 1px solid var(--border-color-subtle);
}
