{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% with anchor=comment|get_anchor %}
<div id="comment-{{ comment.id }}" class="comment-box{% if highlight_cid == comment.id %} comment-box--highlight-border{% endif %}" data-djcx-cid="{{ comment.id }}">
  <div class="comment{% if max_thread_level > 0 %} comment--in-thread{% endif %}">
    <div class="header">
      <div>
        {% if not comment.is_removed and comments_voting_enabled and comment.level == 0 %}
          <div class="inline-block" id="cm-votes-{{ comment.id }}">
            {% include "comments/comment_votes.html" %}
          </div> &sdot;
        {% endif %}
        {% if comment.url and not comment.is_removed %}
          <a href="{{ comment.url }}" target="_new">{{ comment.name }}</a> &sdot;
        {% else %}
          {{ comment.name }} &sdot;
        {% endif %}&nbsp;<span class="muted">{{ comment.submit_date }}</span>&nbsp;<a class="permalink" title="comment permalink" href="{% get_comment_permalink comment %}">¶</a>
      </div>
      {% if not comment.is_removed and comments_flagging_enabled and comments_input_allowed %}
        <div id="cm-flags-{{ comment.id }}">
          {% include "comments/comment_flags.html" %}
        </div>
      {% endif %}
    </div>
    <div class="body body-bordered">
      {% if comment.is_removed %}
        <p class="muted">
          {% trans "This comment has been removed." %}
        </p>
      {% else %}
        {{ comment.comment|linebreaks|escape }}
      {% endif %}
    </div>
    <div id="cm-feedback-{{ comment.id }}" class="feedback feedback-bordered">
      {% if not comment.is_removed %}
        {% if comments_reacting_enabled %}
          {% include "comments/comment_reactions.html" %}
          {% if comments_input_allowed %}
            <div class="inline-block sepseq">
              <a data-djcx="reactions-panel" data-comment="{{ comment.id }}" class="small" data-user-auth="{{ user.is_authenticated }}" href="{% url 'comments-xtd-react' comment.id %}#{{ anchor }}" {% if not user.is_authenticated %}data-login-next="{% get_comment_permalink comment %}"{% endif %}>{% trans "React" %}</a>
            </div>
          {% endif %}
        {% endif %}
        {% if comment.nested_count %}
          <div class="inline-block">
            <a href="#" class="cfold" data-djcx-cthread-id="{{ comment.id }}">
              <span id="comment-{{ comment.id}}--replies" data-djcx="nreplies" class="small">{% blocktrans count replies=comment.nested_count %}One reply{% plural %}{{ replies }} replies{% endblocktrans %}</span>&nbsp;<span class="rotate180">&#9661;</span>
            </a>
          </div>
        {% endif %}
      {% endif %}{# if not comment.is_removed #}
    </div>
  </div>
</div>
{% endwith %}
