{% load comments_xtd %}

<div
    class="active-reactions"
    data-pos-bottom="{{ reaction_pos_bottom }}"
    data-pos-left="{{ reaction_pos_left }}"
>
  {% for reaction in comment.reactions.all %}
    {% if reaction.counter > 0 %}
      {% with reaction_enum=reaction|get_reaction_enum %}
        <span class="reaction" data-reaction="{{ reaction.reaction }}">
          <div class="reactions-tooltip">
            <div class="arrow"></div>
            <p>{{ reaction|authors_list|join:', ' }} reacted with {{ reaction_enum.label }}</p>
          </div>
          <a
            class="small text-primary"
            data-toggle="reactions-tooltip"
          >{{ reaction.counter }}<span class="emoji">&{{ reaction_enum.icon }};</span></a>
        </span>
      {% endwith %}
    {% endif %}
  {% endfor %}
</div>