{% load i18n %}<p>{{ user_name }},</p>

<p>{% trans 'There is a new comment following up yours.' %}</p>

<p>{% trans 'Sent by' %}: {{ comment.name }}, {{ comment.submit_date|date:"SHORT_DATE_FORMAT" }}<br/>
<a href="http://{{ site.domain }}{{ comment.content_object.get_absolute_url }}">http://{{ site.domain }}{{ comment.content_object.get_absolute_url }}</a></p>

<p>{% trans 'The comment' %}:<br/>
<i>{{ comment.comment }}</i>
</p>

<p>{% blocktrans with site_domain=site.domain mute_url_short=mute_url|slice:":40" %}Click <a href="http://{{ site_domain }}{{ mute_url }}">http://{{ site_domain }}{{ mute_url_short }}...</a> to mute the comments thread. You will no longer receive follow-up notifications.{% endblocktrans %}</p>
<p>--<br/>
{% trans 'Kind regards' %},<br/>
{{ site }}
</p>
