{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block title %}{% trans "Flag comment" %}{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center my-4">
    <div class="text-center">
      <h3>{% trans "Flag this comment?" %}</h3>
    </div>
  </div>
    <div class="row justify-content-center">
      <p class="text-center">{% trans "Click on the flag button to mark the following comment as inappropriate." %}</p>
      <div class="card mb-4">
        <div class="card-body">
          <div class="comment d-flex">
            <img src="{{ comment.user_email|xtd_comment_gravatar_url }}"
                alt="{{ comment.user_email }}"
                width="48" height="48" class="me-3">
            <div class="d-flex flex-column">
              <span style="font-size: 0.8rem">
                {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
                {% if comment.user_url %}
                <a href="{{ comment.user_url }}" target="_new" class="text-decoration-none">{{ comment.user_name }}</a>
                {% else %}{{ comment.user_name }}{% endif %}
              </span>
              <div class="py-2">{{ comment.comment }}</div>
            </div>
          </div>
        </div>
      </div>
    {% with object_absolute_url=comment.content_object.get_absolute_url %}
    {% if object_absolute_url %}
    <p class="text-center">
      {% trans "Posted to "%}&nbsp;<a href="{{ object_absolute_url }}">{{ comment.content_object }}</a>
    </p>
    {% endif %}
    {% endwith %}
  </div>
</div>
<div class="row justify-content-center">
  <div class="my-5">
    <form action="." method="post">{% csrf_token %}
      <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>
      <div class="form-group">
        <div class="text-center">
          <input type="submit" name="submit" class="btn btn-danger" value="{% trans "Flag" %}"/>
          <a class="btn btn-secondary" href="{{ comment.get_absolute_url }}">{% trans "cancel" %}</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
