{% extends "comments/base.html" %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{% trans "Flag comment" %}{% endblock %}

{% block content %}
<main>
  <article>
    <div class="container">
      <h2 class="text-center">{% if user_flagged %}{% trans "You already flagged this comment." %}{% else %}{% trans "Flag this comment?" %}{% endif %}</h2>
      <h6 class="text-center pb24">{% trans "Comment sent to:" %}<br/><a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a></h6>
    </div>
    <div class="central-column">
      <div class="djcx pb32">
        {% include "comments/comment.html" with max_thread_level=0 %}

        <section>
          <h6 class="text-center">{% if user_flagged %}{% trans "Click on the remove button to no longer mark the comment as inappropriate." %}{% else %}{% trans "Click on the flag button to mark the following comment as inappropriate." %}{% endif %}</h6>
          <form action="." method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>
            <input type="hidden" name="{{ comments_page_qs_param }}" value="{{ comments_page }}" />
            <input type="hidden" name="{{ comments_folded_qs_param }}" value="{{ comments_folded }}" />
            <div class="inline-centered text-center">
              <button type="submit" class="primary" name="submit" value="flag">{% if user_flagged %}{% trans "remove flag" %}{% else %}{% trans "flag" %}{% endif %}</button>
              <a class="btn secondary" href="{% get_comment_permalink comment %}">{% trans "cancel" %}</a>
            </div>
          </form>
        </section>
      </div>
    </div>
  </article>
</main>
{% endblock %}
