{% extends "comments/base.html" %}

{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{% trans "Thanks for your feedback" %}{% endblock %}

{% block content %}
<main>
  <article>
    <div class="container">
      <h2 class="text-center">{% trans "Thanks for taking the time to participate" %}</h2>
      <h6 class="text-center pb24">
        {% if operation == "add" %}
          {% trans "Your feedback is already part of the comment." %}
        {% elif operation == "del" %}
          {% trans "Your fedback has been removed from the comment." %}
        {% endif %}
      </h6>
    </div>

    {% if comment %}
      <div class="central-column">
        <div class="djcx pb32">
          {% include "comments/comment.html" with max_thread_level=0 %}
        </div>

        <h6 class="text-center">
          <a href="{% get_comment_permalink comment %}">{% trans "Go back to the comment's page." %}</a>
        </h6>
      </div>
    {% endif %}
  </article>
</main>
{% endblock %}
