{% extends "comments/base.html" %}

{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{% trans "React to comment" %}{% endblock %}

{% block content %}
<main>
  <article>
    <div class="container">
      <h2 class="text-center">{% trans "Give feedback about this comment" %}</h2>
      <h6 class="text-center pb24">
        {% trans "Comment sent to:" %}<br/>
        <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
      </h6>
    </div>
    <div class="central-column">
      <div class="djcx pb32">
        {% include "comments/comment.html" with max_thread_level=0 %}

        <section class="reaction-form">
          <h5 class="text-center">Feedback choices</h5>
          {% if user_reactions %}
            <p class="text-center">{% trans "Pressed buttons correspond to your active reactions to this comment." %}</p>
          {% endif %}
          <form method="POST" autocomplete="off" action="{% comment_reaction_form_target comment %}">
            {% csrf_token %}
            {% render_comment_reactions_buttons user_reactions %}
            {% if user_reactions %}
              <h6 class="text-center">{% trans "Click on a button to select or deselect your feedback choise." %}</h6>
            {% else %}
              <h6 class="text-center">{% trans "Click on a button to select your feedback choice." %}</h6>
            {% endif %}
          </form>
        </section>
      </div>
    </div>
  </article>
</main>
{% endblock %}
