{% extends "base.html" %}

{% load url from future %}

{% load comments %}

{% block header %}{{ block.super }}Article Detail{% endblock %}

{% block content %}
<H3>{{ object.title }}</H3>
<div style="padding:0 20px; font-size:.8em; font-style:italic">Published {{ object.publish }}</div>
<div style="margin:10px 0; padding:0 150px 0 20px">
  {{ object.body|linebreaks }}
</div>

<a href="{% url 'articles-index' %}">back to the articles list</a>

<div id="comments">
  {% get_comment_count for object as comment_count %}
  {% if comment_count %}
  <H4 class="center">{{ comment_count }} comment{{ comment_count|pluralize }}</H4>
  {% endif %}
  <div id="comment-list">
    {% render_comment_list for object %}
  </div>

  {% if object.allow_comments %}
  <H4 class="center">your comment</H4>
  <div id="comment-form">
    {% render_comment_form for object %}
  </div>
  {% else %}
  <h4 class="center">comments are disabled for this article</h4>
  {% endif %}
</div>
{% endblock %}
