{% extends "base.html" %}
{% load i18n comments %}

{% block header %}{{ block.super }}Blog - Quote List{% endblock %}

{% block content %}
<div style="width:100%; margin: 20px 0;">
  <div style="padding: 0 15%">
    {% if object_list %}
    {% for item in object_list %}
    {% get_comment_count for item as comment_count %}
    <H4 style="margin-bottom:3px"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></H4>
    <div style="margin:0 20px;">{{ item.author }}<br/>
      <span style="font-size:0.8em;color:#333">{{ comment_count }} comment{{ comment_count|pluralize }}</span>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div style="padding:10px 15px; background:#eee">No quote yet.</div>
  {% endif %}
  <p style="padding: 5px 15px; background:#ddd">
    <a href="{% url 'blog-index' %}">{% trans "Blog" %}</a>
  </p>
</div>
{% endblock %}
