{% load i18n %}
{% load static %}
{% load comments_xtd %}

{% if comment.level == 0 %}<li class="media">{% else %}<div class="media">{% endif %}
  <div class="media-left">
    <a href="{{ comment.url }}"><img src="{% static 'img/64x64.svg' %}"></a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">{{ comment.submit_date }}&nbsp;-&nbsp;{% if comment.url and not comment.is_removed %}<a href="{{ item.comment.url }}" target="_new">{% endif %}{{ item.comment.name }}{% if item.comment.url %}</a>{% endif %}</h6>
    <p>{{ comment.comment|render_markup_comment }}
      {% if comment.allow_thread and not comment.is_removed %}<br/><a class="small text-muted" href="{{ item.comment.get_reply_url }}" data-comment-element="replylink" data-comment-id="{{ item.comment.pk }}">{% trans "Reply" %}</a>{% endif %}</p>
  </div>
{% if comment.level == 0 %}</li>{% else %}</div>{% endif %}

